{% extends 'users/base.html' %}

{% block title %}{{ _('Forgot username') }} - MetaBrainz Foundation{% endblock %}

{% block auth_form %}
  <div class="auth-card-container">
    <div class="auth-card">
      <h1 class="page-title text-center">{{ _('Forgot your username?') }}</h1>
      <form role="form" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <label class="form-label" for="yourEmail">
            Email
          </label>
          <div>
            <input
                class="form-control"
                id="yourEmail"
                name="email"
                required
                type="email"
            />
          </div>
        </div>

        <button class="btn btn-primary main-action-button" type="submit">
          Send Email
        </button>
      </form>
    </div>
  </div>
{% endblock %}
