{% extends 'base.html' %}

{% block title %}{{ _('Sign in') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <section id="auth-page">
      <div class="auth-page-container">
        <div class="icon-pills">
          <div class="icon-pill">
            <img src="{{ url_for('static', filename='img/projects/musicbrainz.svg') }}" />
          </div>
          <div class="icon-pill">
            <img src="{{ url_for('static', filename='img/projects/critiquebrainz.svg') }}" />
          </div>
          <div class="icon-pill">
            <img src="{{ url_for('static', filename='img/projects/picard.svg') }}" />
          </div>
          <div class="icon-pill">
            <img src="{{ url_for('static', filename='img/projects/listenbrainz.svg') }}" />
          </div>
          <div class="icon-pill">
            <img src="{{ url_for('static', filename='img/projects/bookbrainz.svg') }}" />
          </div>
        </div>
        <div class="auth-card-container">

          <div class="auth-card">
            <h1 class="page-title text-center">{{ _('Sign in') }}</h1>
            <form role="form" method="POST">
              <div class="form-group">
                <label class="form-label" htmlFor="yourUsername">
                  Username
                </label>
                <div>
                  <input
                    class="form-control"
                    id="yourUsername"
                    name="username"
                    required
                    type="text"
                  />
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" htmlFor="yourPassword">
                  Password
                </label>
                <input
                  class="form-control"
                  id="yourPassword"
                  name="password"
                  required
                  type="password"
                />
              </div>

              <div class="auth-card-bottom">
                <small class="checkbox">
                  <label htmlFor="rememberMe">
                    <input
                      id="rememberMe"
                      name="remember"
                      type="checkbox"
                      value="true"
                    />
                    Remember me
                  </label>
                </small>
                <a class="small" href="#">
                  I forgot my username / password
                </a>
              </div>
              
              <button class="btn btn-primary main-action-button" type="submit">
                Sign in
              </button>
            </form>
            
          </div>
          <div class="auth-card-footer">
            <dix class="small">
              Don‘t have an account?<a href="{{ url_for('users.signup') }}"> Create a free MetaBrainz account </a>to access MusicBrainz, ListenBrainz, CritiqueBrainz, and more.
            </dix>
          </div>
        </div>
    </div>
  </section>
{% endblock %}
