{% extends 'base.html' %}

{% block title %}{{ _('Sign up') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <section id="auth-page">
    <div class="auth-page-container">
      <div class="icon-pills">
        <div class="icon-pill">
          <img src="{{ url_for('static', filename='img/projects/musicbrainz.svg') }}" />
        </div>
        <div class="icon-pill">
          <img src="{{ url_for('static', filename='img/projects/critiquebrainz.svg') }}" />
        </div>
        <div class="icon-pill">
          <img src="{{ url_for('static', filename='img/projects/picard.svg') }}" />
        </div>
        <div class="icon-pill">
          <img src="{{ url_for('static', filename='img/projects/listenbrainz.svg') }}" />
        </div>
        <div class="icon-pill">
          <img src="{{ url_for('static', filename='img/projects/bookbrainz.svg') }}" />
        </div>
      </div>
      <div class="auth-card-container">

        <div class="auth-card">
          <h1 class="page-title text-center">{{ _('Sign up') }}</h1>
          <form role="form" method="POST">
            <div class="form-group">
              <label class="form-label" htmlFor="yourUsername">
                Username <small>(public)</small>
              </label>
              <div>
                <input
                  class="form-control"
                  id="yourUsername"
                  name="username"
                  required
                  type="text"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" htmlFor="yourUsername">
                E-mail address
              </label>
              <div>
                <input
                  class="form-control"
                  id="yourUsername"
                  name="username"
                  required
                  type="text"
                />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label" htmlFor="yourPassword">
                Password
              </label>
              <input
                class="form-control"
                id="yourPassword"
                name="password"
                required
                type="password"
              />
            </div>
            <div class="form-group">
              <label class="form-label" htmlFor="confirmPassword">
                Confirm password
              </label>
              <input
                class="form-control"
                id="confirmPassword"
                name="confirm-password"
                required
                type="password"
              />
            </div>

            <div class="auth-card-bottom">
              <p>
                Please note that your contributions will be released into the public domain or licensed for use.
                We will never share your personal information.
              </p>
              <a class="small" href="#" data-toggle="modal" data-target="#conditions-modal" data-backdrop="false">
                Click here to read more
              </a>
            </div>

            <button class="btn btn-primary center-block" type="submit" style="font-size: 1.1em;">
              Create account
            </button>
          </form>
          <div class="modal fade" id="conditions-modal">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <p>Note that any contributions you make to MusicBrainz will be released into the Public Domain and/or licensed under a Creative Commons by-nc-sa license.
                  Furthermore, you give the MetaBrainz Foundation the right to license this data for commercial use.
                  <br/>Please read our <a>license page</a> for more details.
                <p>MusicBrainz believes strongly in the privacy of its users. Any personal information you choose to provide will not be sold or shared with anyone else.
                  <br/>Please read our <a>privacy policy</a> for more details.</p>
                <p>You may remove your personal information from our services anytime by deleting your account.
                  <br/>Please read our <a>GDPR compliance statement</a> for more details.</p>
                <p>Creating an account on MetaBrainz will give you access to accounts on our other services, such as ListenBrainz, MusicBrainz, BookBrainz, and more.
                  <br/>We do not automatically create accounts for these services when you create a MetaBrainz account, but you will only be a few clicks away doing so.</p>
                  <button class="btn btn-primary center-block" type="button" data-dismiss="modal">
                    Sounds good
                  </button>
              </div>
            </div>
          </div>

        </div>
        <div class="auth-card-footer">
          <dix class="small">
            Already have an account? <a href="#">Sign in </a>
          </dix>
        </div>
      </div>
  </div>
</section>
{% endblock %}
