{% extends 'users/base.html' %}

{% block title %}{{ _('Reset Password up') }} - MetaBrainz Foundation{% endblock %}

{% block auth_form %}
  <div class="auth-card-container">

    <div class="auth-card">
      <h1 class="page-title text-center">{{ _('Reset your password') }}</h1>
      <div class="h4 text-center">access all MetaBrainz projects</div>
      <form role="form" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          <label class="form-label" for="yourPassword">
            Password
          </label>
          <input
              class="form-control"
              id="yourPassword"
              name="password"
              required
              type="password"
          />
        </div>
        <div class="form-group">
          <label class="form-label" for="confirmPassword">
            Confirm password
          </label>
          <input
              class="form-control"
              id="confirmPassword"
              name="confirm_password"
              required
              type="password"
          />
        </div>

        <button class="btn btn-primary main-action-button" type="submit">
          Reset Password
        </button>
      </form>


    </div>
  </div>
{% endblock %}
