{% extends 'base.html' %}

{% block title %}Customers - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>Customers</h1>

  <p>
    The following customers license our data and use
    <a href="http://musicbrainz.user/doc/MusicBrainz_Identifier">MusicBrainz Identifiers</a>
    for their own operations. This list does not include any individuals/companies that are
    using our Public Domain/Creative Commons data snapshots – there are many users of this data
    beyond the licensees listed here:
  </p>

  <div id="customers-list">
    {% for tier in tiers|reverse %}
      {% set featured_users = tier.get_featured_users() %}
      {% if featured_users|length > 0 %}
        <h2>{{ tier.name }} tier</h2>
        <div class="row">
          {% for user in featured_users %}
            <div class="col-md-3 customer">
              <a href="{{ url_for('users.tier', tier_id=tier.id) }}">
                <div class="logo">
                  {% if user.org_logo_url %}
                    <img src="{{ user.org_logo_url }}"/>
                  {% else %}
                    {{ user.org_name }}
                  {% endif %}
                </div>
                {% if user.short_descr %}
                  <div class="description">{{ user.short_descr }}</div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <p class="text-muted">
    Do you know of others using the MusicBrainz data?
    If so please, contact us and let us know.
  </p>

{% endblock %}
