{% extends 'base.html' %}

{% block title %}{{ _('Edit') }} - {{ _('Your Profile') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Your Profile') }}</h1>
  <h2>{{ _('Edit contact information') }}</h2>

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <form method="POST" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.contact_name.label.text }}</label>
        <div class="col-sm-5">{{ form.contact_name(class="form-control", required="required") }}</div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ form.contact_email.label.text }}</label>
        <div class="col-sm-5">{{ form.contact_email(class="form-control", required="required") }}</div>
      </div>
      {% if not current_user.is_commercial %}
        <div class="form-group">
          <label class="col-sm-2 control-label">
            {{ _('Datasets') }}
          </label>
          <div class="col-sm-5">
            <div class="list-group">
              {% for choice in form.datasets %}
                <div class="form-check list-group-item">
                  <h4 class="list-group-item-heading">
                    {{ choice(class="form-check-input") }}
                    {{ choice.label(class="form-check-label") }}
                  </h4>
                  <p class="list-group-item-text">{{ form.descriptions[choice.data] }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </fieldset>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{{ _('Update') }}</button>
      </div>
    </div>
  </form>
{% endblock %}
