{% extends 'base.html' %}

{% block title %}{{ _('Sign up') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Sign up <small>Commercial</small>') }}</h1>

  <p>
    {{ _('<strong>Note:</strong> Signing up for any tier other than the <i>Stealth startup</i> tier
    will publicly list your company on this web site. However, we will not publish any of
    your private details.') }}
  </p>

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ field }}: {{ error }}</div>
    {% endfor %}
  {% endfor %}

  <form class="form-horizontal" role="form" method="POST">
    {{ form.csrf_token }}

    <div class="form-group">
      <label class="col-sm-4 control-label">{{ _('Account type') }}</label>
      <div class="col-sm-5" style="padding-top: 7px">{{ _('Commercial') }}</div>
      <label class="col-sm-4 control-label">{{ _('Selected tier') }}</label>
      <div class="col-sm-5" style="padding-top: 7px">
        <b>{{ tier.name }}</b>
        <em class="text-muted">{{ _('$%(tier_price)s/month and up', tier_price=tier.price) }}</em>
      </div>
      <div class="col-sm-6 col-sm-offset-4" style="padding-top: 7px">
        <a href="{{ url_for(".account_type") }}">{{ _('Change account type or tier') }}</a>
      </div>
    </div>

    <hr />

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.org_name.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.org_name(class="form-control", required="required") }}</div>
      <div class="col-sm-offset-4 col-sm-5" style="padding-top: 7px">
        <em class="text-muted">
          {{ _('If you don\'t have an organization name, you probably want to sign up as a
          <a href="%(signup_url)s">non-commercial / personal</a> user.',
          signup_url=url_for('supporters.signup_noncommercial')) }}
        </em>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ _('MusicBrainz Account') }}
      </label>
      <div class="col-sm-5" style="padding-top: 7px">{{ mb_username }}</div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.org_desc.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.org_desc(class="form-control", required="required") }}</div>
      <div class="col-sm-offset-4 col-sm-5" style="padding-top: 7px">
        <em class="text-muted">
          {{ _('Please tell us a little about your company and whether you plan to use our <a href="%(api)s">API</a>
                or to <a href="%(server_setup)s">host your own copy</a> of the data.',
                api='https://musicbrainz.org/doc/Development/XML_Web_Service/Version_2',
                server_setup='https://musicbrainz.org/doc/MusicBrainz_Server/Setup') }}
        </em>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.website_url.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.website_url(class="form-control", required="required") }}</div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">{{ form.logo_url.label.text }}</label>
      <div class="col-sm-5">{{ form.logo_url(class="form-control", placeholder=_('(preferably in SVG format)')) }}</div>
      <div class="col-sm-offset-4 col-sm-5" style="padding-top: 7px">
        <em class="text-muted">
          {{ _('Image should be about 250 pixels wide on a white or transparent
          background. We will host it on our site.') }}
        </em>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">{{ form.api_url.label.text }}</label>
      <div class="col-sm-5">{{ form.api_url(class="form-control") }}</div>
      <div class="col-sm-offset-4 col-sm-5" style="padding-top: 7px">
        <em class="text-muted">
          {{ _('URL to where developers can use your APIs using MusicBrainz IDs, if available..') }}
        </em>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.usage_desc.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.usage_desc(class="form-control", required="required",
                                   maxlength=150, placeholder=_('(max 150 characters)')) }}</div>
    </div>
    <br />

    <div class="form-group">
      <label class="col-sm-offset-4 col-sm-5">
        {{ _('If you would like to support us with more than $%(tier_price)d,
        please enter the actual amount here:', tier_price=tier.price) }}
      </label>
      <div class="col-sm-offset-4 col-sm-5">
        {{ form.amount_pledged(class="form-control", min=tier.price, value=form.amount_pledged.data or tier.price) }}
      </div>
    </div>
    <br />

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <strong>{{ _('Billing address') }}</strong>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.address_street.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.address_street(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.address_city.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.address_city(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.address_state.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.address_state(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.address_postcode.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.address_postcode(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.address_country.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.address_country(class="form-control", required="required") }}</div>
    </div>
    <br />

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.contact_name.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.contact_name(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.contact_email.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.contact_email(class="form-control", required="required") }}</div>
    </div>
    <br />

    <hr />

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label id="agreement">
            {{ form.agreement(required="required") }}
            <p>
              I agree to support the MetaBrainz Foundation when my organization is able to do so.
            </p>
            <p>
              I also agree that if I generate a Live Data Feed access token, that I treat my access token
              as a secret and will not share this token publicly or commit it to a source code repository.
            </p>
          </label>
        </div>
      </div>
    </div>

    <div class="col-sm-offset-4 col-sm-8 small">
      <em>
        {{ _('The following information will be shown publicly: organization name,
        logo, website and API URLs, data usage description.') }}<br />
      </em>
    </div>

    <div class="col-sm-offset-4 col-sm-8 small">
      <em>
        {{ _('We\'ll send you more details about payment process once your application
        is approved.') }}<br /><br />
      </em>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">{{ form.recaptcha }}</div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </div>
    <br />
  </form>
{% endblock %}
