{% extends 'base.html' %}

{% block title %}Sign up - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>Sign up <small>Commercial</small></h1>

  <h3>Select tier</h3>

  <table class="table table-condensed">
    {% for tier in tiers %}
      <tr>
        <td><strong>{{ tier.name }}</strong></td>
        <td>{{ tier.short_desc }}</td>
        <td>${{ tier.price }}/mo</td>
        <td>
          <a href="{{ url_for('users.signup_commercial', tier_id=tier.id) }}"
             class="btn btn-primary btn-xs" role="button">Sign up</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
