{% extends 'base.html' %}

{% block title %}Sign up - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>Sign up <small>non-commercial</small></h1>

  <p>
  Please be aware that misuse of the non-commercial service for commercial purposes will
  result in us revoking your access token and then billing you for your commercial use of our
  Live Data Feed.
  </p>
  <br/>

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ field }}: {{ error }}</div>
    {% endfor %}
  {% endfor %}

  <form class="form-horizontal" role="form" method="POST">
    {{ form.csrf_token }}

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Name
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.contact_name(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Email
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.contact_email(class="form-control", required="required") }}</div>
    </div>
    <br />

    <div class="form-group">
      <label class="col-sm-4 control-label">
        {{ form.description.label.text }}
        <span style="color: red">*</span>
      </label>
      <div class="col-sm-5">{{ form.description(class="form-control", required="required") }}</div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label id="agreement">
            {{ form.agreement(required="required") }}
            I agree to use the Live Data Feed for non-commercial (less than $500 income per year) or
            private uses only. I also agree to treat my access token as a secret and will
            not share this token publicly or commit it to a source code repository.
          </label>
        </div>
      </div>
    </div>
    <br />

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">{{ form.recaptcha }}</div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </div>
    <br />
  </form>
{% endblock %}
