{% extends 'base.html' %}

{% block title %}{{ _('Supporters') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Supporters') }}</h1>

  <p>
    {{ _('The following organizations make use of the data-sets published by MetaBrainz and
    are supporting us financially or through some other reciprocal agreement. There are also
    organizations that make use of our data that have explicitly declined to support us. There
    may also be other organizations making use of our data that we don\'t know about yet. If you
    know of a company using our data, please <a href="%(contact_url)s">contact us</a>.', contact_url=url_for('index.contact')) }}
  </p>

  <div id="supporters-list">
    {% for tier in tiers %}
      {% set featured_users = tier.get_featured_users() %}
      {% if featured_users|length > 0 %}
        <h2><a href="{{ url_for('users.tier', tier_id=tier.id) }}">{{ _(tier.name + 'tier') }}</a></h2>
        {% if tier.short_desc %}
          <div class="tier-description">{{ tier.short_desc }}</div>
        {% endif %}
        <div class="users-grid">
          {% for user in featured_users %}
            <div class="user {{ 'bad-standing' if not user.good_standing }}">
              {% if not user.good_standing %}
                <a href="{{ url_for('users.bad_standing') }}"
                   title="{{ _('This user has bad standing') }}">
              {% elif user.website_url %}
                <a href="{{ user.website_url }}">
              {% endif %}
                <div class="logo-container">
                  {% if user.logo_filename %}
                    <img class="logo" src="{{ url_for('static', filename='img/user_logos/'+user.logo_filename) }}" />
                  {% elif user.org_logo_url %}
                    <img class="logo" src="{{ user.org_logo_url }}"/>
                  {% else %}
                    <div class="name">{{ user.org_name }}</div>
                  {% endif %}
                </div>
                {% if user.data_usage_desc %}
                  <div class="description">{{ user.data_usage_desc }}</div>
                {% endif %}
              {% if not user.good_standing or (user.good_standing and user.website_url) %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
