{% extends 'base.html' %}

{% block title %}{{ tier.name }} tier - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>{{ tier.name }} tier</h1>

  <p>{{ tier.long_desc }}</p>

  <p class="text-center">
    {% if tier.available %}
    <a href="{{ url_for('users.signup') }}"
       class="btn btn-primary btn-lg" role="button">Sign up</a>
    {% else %}
      <em class="text-muted">You need to contact us if you want to sign up to this tier.</em>
    {% endif %}
  </p>

  {% set users = tier.users.all() %}
  {% if users|length > 0 %}
    <h3>Users on this tier</h3>
    <div id="customers">
      <table class="table">

        {% for user in users %}
          <tr {{ 'class=danger' if not user.good_standing }}>
            <td>
              {% if user.website_url %}<a href="{{ user.website_url }}">{% endif %}
              {% if user.org_logo_url %}
                <img src="{{ user.org_logo_url }}"/>
              {% else %}
                {{ user.org_name }}
              {% endif %}
              {% if user.website_url %}</a>{% endif %}
            </td>
            <td>
              {{ user.description }}
              {% if not user.good_standing %}
                <p class="text-danger">
                  <em>This user is in <a href="{{ url_for('users.bad_standing') }}">bad standing</a>.</em>
                </p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}

      </table>
    </div>
  {% endif %}

{% endblock %}
