{% extends 'base.html' %}

{% block title %}{{ _('%(tier_name)s tier', tier_name=tier.name) }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('%(tier_name)s tier', tier_name=tier.name) }}</h1>

  <p>{{ tier.long_desc | nl2br | safe }}</p>

  {% if not current_user or current_user.is_anonymous %}
    <p class="text-center">
      <a href="{{ url_for('users.signup_commercial', tier_id=tier.id) }}"
         class="btn btn-primary">{{ _('Sign up for this tier') }}</a>
    </p>
  {% endif %}

  {% set users = tier.get_featured_users() %}
  {% if users|length > 0 %}
    <h3>{{ _('Supporters on this tier') }}</h3>
    <div class="users-grid">
      {% for user in users %}
        <div class="user {{ 'bad-standing' if not user.good_standing }}">
          {% if not user.good_standing %}
            <a href="{{ url_for('users.bad_standing') }}"
               title="{{ _('This supporter is behind on their payments.') }}">
          {% elif user.website_url %}
            <a href="{{ user.website_url }}">
          {% endif %}
            <div class="logo-container">
              {% if user.logo_filename %}
                <img class="logo" src="{{ url_for('static', filename='img/user_logos/'+user.logo_filename) }}" />
              {% elif user.org_logo_url %}
                <img class="logo" src="{{ user.org_logo_url }}"/>
              {% else %}
                <div class="name">{{ user.org_name }}</div>
              {% endif %}
            </div>
            {% if user.data_usage_desc %}
              <div class="description">{{ user.data_usage_desc }}</div>
            {% endif %}
          {% if not user.good_standing or (user.good_standing and user.website_url) %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
