# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env
venv

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Test results
htmlcov/
.coverage


# Mac sillyness
.DS_Store
# Application data
/data

# Configuration
/consul_config.py
/custom_config.py
