# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env
venv

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Test results
/cover/
nosetests.xml
.tox/
.cache
.coverage

# Vagrant
.vagrant

# Project-specific stuff
replication_packets
