# CUSTOM CONFIGURATION

DEBUG = True  # set to False in production mode

SECRET_KEY = "CHANGE_THIS"

# DATABASE
SQLALCHEMY_DATABASE_URI = "postgresql://metabrainz:metabrainz@meb_db:5432/metabrainz"
SQLALCHEMY_MUSICBRAINZ_URI = ""
SQLALCHEMY_TRACK_MODIFICATIONS = False

POSTGRES_ADMIN_URI = "postgresql://postgres:postgres@meb_db/postgres"

# DATABASES

# The name of a postgres user who has superuser privileges. Your local user should
# be able to connect to the database with this user.
PG_SUPER_USER = "postgres"
# The port that postgres is running on
PG_PORT = "5432"


# PAYMENTS

PAYMENT_PRODUCTION = False  # set to False to use testing environments for donations

# PayPal
PAYPAL_ACCOUNT_IDS = {
    "USD": "paypal-usd@example.org",
    "EUR": "paypal-eur@example.org",
}
PAYPAL_BUSINESS = "payment@example.org"

# Stripe
# https://stripe.com/docs/tutorials/dashboard#api-keys
STRIPE_KEYS = {
    "USD": {
        "SECRET": "",
        "PUBLISHABLE": "",
        "WEBHOOK_SECRET": ""
    },
    "EUR": {
        "SECRET": "",
        "PUBLISHABLE": "",
        "WEBHOOK_SECRET": ""
    }
}

# if developing payment integration locally, change this to your localhost url
SERVER_BASE_URL = "http://localhost:8000"
SERVER_NAME = "localhost:8000"

MUSICBRAINZ_SERVER = "https://beta.musicbrainz.org"

# REDIS
REDIS = {
    "host": "redis",
    "port": 6379,
    "namespace": "MEB",
}

# MUSICBRAINZ
# MusicBrainz Base URL must have a trailing slash.
MUSICBRAINZ_BASE_URL = "https://musicbrainz.org/"
MUSICBRAINZ_CLIENT_ID = ""
MUSICBRAINZ_CLIENT_SECRET = ""

# QUICKBOOKS OAUTH -- only needed if you ever want to create invoices. (read: never)
QUICKBOOKS_SANDBOX = True
QUICKBOOKS_CALLBACK_URL = "https://metabrainz.org/quickbooks/callback"
QUICKBOOKS_CLIENT_ID = ""
QUICKBOOKS_CLIENT_SECRET = ""

# ADMIN SECTION
# This is a list of MusicBrainz usernames of people that are allowed to access
# admin section of the website. Usernames are case-sensetive!
ADMINS = [
    #"Example",
]


# LOGGING

#LOG_FILE = {
#    "filename": "./logs/log.txt",
#    "max_bytes": 512 * 1024,  # optional
#    "backup_count": 100,      # optional
#}

#LOG_SENTRY = {
#    "dsn": "YOUR_SENTRY_DSN",
#    "level": "WARNING",  # optional
#}

# Mail server
SMTP_SERVER = "metabrainz-mail"
SMTP_PORT = 25
MAIL_FROM_DOMAIN = "metabrainz.org"

# OTHER STUFF

DEBUG_TB_INTERCEPT_REDIRECTS = False

# reCAPTCHA (https://www.google.com/recaptcha/)
RECAPTCHA_PUBLIC_KEY = ""
RECAPTCHA_PRIVATE_KEY = ""

# List of email addresses
NOTIFICATION_RECIPIENTS = [
#    "admin@example.org",
]

# See http://flask.pocoo.org/docs/0.10/config/#builtin-configuration-values
#PREFERRED_URL_SCHEME = "https"
#USE_COMPILED_STYLING = True
USE_NGINX_X_ACCEL = False

OAUTH2_BLUEPRINT_PREFIX = "/oauth2"
OAUTH2_ACCESS_TOKEN_GENERATOR = "oauth.generator.create_access_token"
OAUTH2_REFRESH_TOKEN_GENERATOR = "oauth.generator.create_refresh_token"
OAUTH2_TOKEN_EXPIRES_IN = {
    "authorization_code": 3600,
    "implicit": 3600,
}
OAUTH2_AUTHORIZATION_CODE_EXPIRES_IN = 600
