coverage == 4.0.3
Fabric == 1.10.2
Flask == 0.10.1
Flask-Admin == 1.3.0
Flask-DebugToolbar == 0.10.0
Flask-Login == 0.3.2
Flask-Script == 2.0.5
Flask-SQLAlchemy == 2.1
Flask-Testing == 0.4.2
Flask-WTF == 0.12
nose == 1.3.7
psycopg2 == 2.6
python-memcached == 1.57
pytz == 2015.7
rauth == 0.7.2
raven[flask] == 5.9.2
reportlab == 3.2.0
requests == 2.9.0
SQLAlchemy == 1.0.11
stripe == 1.27.1
wepay == 0.3.1
