git+https://github.com/metabrainz/brainzutils-python.git@v1.15.0
click==6.7
Werkzeug==1.0.1
Flask-Admin==1.5.7
Flask-Babel==2.0.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-Testing==0.8.1
-e git://github.com/maxcountryman/flask-uploads.git@f66d7dc93e68#egg=Flask_Uploads
Flask-WTF==0.14.3
psycopg2==2.8.6
pytest-cov==2.11.0
pytest==6.2.1
pytz==2019.2
rauth==0.7.3
reportlab==3.1.44
six==1.15.0
stripe==1.62.0
python-dateutil==2.8.0
python-quickbooks==0.8.4
intuit-oauth==1.2.3
email_validator==1.0.5
idna==2.7
