{% extends 'donations/base.html' %}

{% block title %}Donation - MetaBrainz Foundation{% endblock %}

{% block donations_content %}
  <style>
    td { padding: 2px; }
  </style>

  <h1>Make a Donation</h1>

  <p>If you feel that <a href="http://musicbrainz.org">MusicBrainz</a> is a worthwhile effort, please consider contributing money to the MetaBrainz Foundation. The MetaBrainz Foundation is a <a href="http://en.wikipedia.org/wiki/Non-profit_organization">501(c)(3) tax-exempt non-profit</a> based in California that operates the MusicBrainz project. All of your donations will be tax-deductible and you will receive a receipt that you can use to deduct your donation off your taxes if you are a US taxpayer.</p>

  <p>Your donations will be used to operate the MusicBrainz project. This includes paying for ongoing expenses like hosting, hardware, maintaining a modest office in San Luis Obispo, California, and paying a minimal salary for MetaBrainz employees working on MusicBrainz.</p>

  <p>Where has my contribution gone? See our <a href="{{ url_for('financial_reports.index') }}">transparent finances</a>.</p>
  <p>Who else is contributing? See our list of <a href="{{ url_for('donations.donors') }}">donors</a>.</p>

  <h2>Donate with PayPal or WePay</h2>

  <p>To send money via PayPal or WePay, please use one of the convenient buttons below:</p>
  <table width="100%">
    <tr>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=10, recur=0) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=25, recur=0) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=50, recur=0) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=100, recur=0) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=500, recur=0) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=0, recur=0) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
    </tr>
    <tr>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=10, recur=0) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=25, recur=0) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=50, recur=0) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=100, recur=0) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=500, recur=0) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=0, recur=0) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
    </tr>
    <tr>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_stripe.donate', amount=10) }}">Stripe</a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_stripe.donate', amount=25) }}">Stripe</a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_stripe.donate', amount=50) }}">Stripe</a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_stripe.donate', amount=100) }}">Stripe</a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_stripe.donate', amount=500) }}">Stripe</a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_stripe.donate', amount=0) }}">Stripe</a>
      </td>
    </tr>
    <tr>
      <td align="center" width="16%">$10</td>
      <td align="center" width="16%">$25</td>
      <td align="center" width="16%">$50</td>
      <td align="center" width="16%">$100</td>
      <td align="center" width="16%">$500</td>
      <td align="center" width="16%">$Other</td>
    </tr>
  </table>

  <p>To set up a recurring monthly donation, use the buttons below:</p>
  <table width="100%">
    <tr>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=10, recur=1) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=25, recur=1) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=50, recur=1) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=100, recur=1) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=500, recur=1) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_paypal.donate', amount=0, recur=1) }}"><img src="{{ url_for('static', filename='img/buttons/paypal-logo.png') }}" /></a>
      </td>
    </tr>
    <tr>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=10, recur=1) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=25, recur=1) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=50, recur=1) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=100, recur=1) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=500, recur=1) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
      <td align="center" width="16%">
        <a href="{{ url_for('donations_wepay.donate', amount=0, recur=1) }}">
          <img style="vertical-align: middle" src="{{ url_for('static', filename='img/buttons/wepay-logo.png') }}" />
        </a>
      </td>
    </tr>
    <tr>
      <td align="center" width="16%">$10/month</td>
      <td align="center" width="16%">$25/month</td>
      <td align="center" width="16%">$50/month</td>
      <td align="center" width="16%">$100/month</td>
      <td align="center" width="16%">$500/month</td>
      <td align="center" width="16%">$Other/month</td>
    </tr>
  </table>

  <h2>Donating Bitcoins</h2>
  <p>If you would like to make a donation to us in bitcoins, please use this address:</p>
  <p><em style="margin-left: 2em">1Pc7sFnuRfDQ2rGoNwRA3nBX1Pqjjqb15v</em></p>

  <h2>Donating money in other ways</h2>
  <p>If you would like to donate cash using a check or a bank draft, please send them to:</p>
  <p>
    MetaBrainz Foundation<br />
    3565 South Higuera St, Suite B<br />
    San Luis Obispo, CA 93401<br />
    United States
  </p>
  <p>Please make checks payable to the <strong>MetaBrainz Foundation</strong>.</p>
{% endblock %}
