{% extends 'admin/master.html' %}

{% block page_heading %}Active supporters{% endblock %}
{% block page_description %}Active supporters in good standing with a pledged amount above zero.{% endblock %}

{% block body %}
  <div class="admin-card admin-card--flush">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Company</th>
          <th class="text-right">Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for supporter in supporters %}
          <tr>
            <td><a href="{{ url_for('supportersview.details', supporter_id=supporter.id) }}">{{ supporter.org_name }}</a></td>
            <td class="text-right">{{ "${:,.2f}".format(supporter.amount_pledged) }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td><strong>Total per month</strong></td>
          <td class="text-right"><strong>{{ "${:,.2f}".format(total) }}</strong></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
