#auth-page {
  font-style: normal;
  font-weight: 400;
  min-height: 500px;
  background: linear-gradient(90deg, #3b9766 0%, #ffa500 100%);
  margin: 0 -1em;
  padding: 2em;

  .form-label {
    font-weight: normal;
  }
  .label-with-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    label {
      flex-shrink: 0;
    }
  }
  .form-label-link {
    text-align: right;
  }

  .auth-page-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .auth-card-container {
    background: #e7e7e7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  .auth-card {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem 6rem;
    border-radius: 3px;
    @media screen and (max-width: @screen-xs-max) {
      padding: 1rem 3rem;
    }
  }
  .auth-card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .auth-card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #808080;
  }
  .main-action-button {
    display: block;
    font-size: 1.1em;
    margin: 1em auto;
  }
  .modal-content {
    padding: 1.5em;
  }
}

#conditions-modal {
  font-size: initial;
}
@icon-pill-size: 50px;
@icon-logo-size: 40px;
@icon-pill-padding: 8px;
.icon-pills {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  .icon-pill {
    background: #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: @icon-pill-size;
    height: @icon-pill-size;
    border-radius: @icon-pill-size;
    padding: @icon-pill-padding;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: width 0.42s;
    &:hover {
      width: 160px; // Fallback
      width: calc(attr(data-logo-width px) + @icon-pill-padding * 2);
    }
    img {
      height: @icon-logo-size;
      max-width: unset;
    }
  }
}
