{% extends 'base.html' %}

{% block title %}{{ _('About') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title"><img src="{{ url_for('static', filename='img/logos/metabrainz.svg') }}" class="hidden-xs"></h1>

  <h2 class="page-title">{{ _('About the MetaBrainz Foundation') }}</h2>

  <div class="row">
    <div class="col-sm-9">
      <p>
        {{ _('The MetaBrainz Foundation is a global community creating and maintaining 
        an open encyclopedia of music and arts metadata. Beginning as a resource for music 
        collectors we currently establish collaborations between volunteers, artists, and 
        industry leaders. Since it’s founding it has grown into a global community of 
        <a href="%(editors_url)s">hundreds of thousands of editors</a>
        collaborating together to build and maintain the MetaBrainz comprehensive datasets.',
            editors_url='https://musicbrainz.org/statistics/editors') }}
      </p>
      <p>
        {{ _('The foundation works within a balanced ecosystem of contributions to the datasets 
        and community and the utilization of the datasets. We encourage all data users to participate 
        in the data gathering, editing and peer review processes so that our data can be as comprehensive
        as possible. Each entity is assigned a permanent 
        <a href="%(mbid_url)s">MBID (MusicBrainz Identifier)</a>
        in order to facilitate the creation of a reliable and unambiguous universal lingua franca for music data. 
        MBID’s have opened the possibility of boundless search queries, exceeding the seven traditional 
        identifiers for music data and truly putting knowledge at one\'s fingertips. Our community aggregated
        data sets are verified and edited by a global voting system to ensure the data is consistent and correct.
        We collect information about as many different styles and types of arts and music as possible 
        and do not discriminate when compiling data.',
            mbid_url='https://musicbrainz.org/doc/MusicBrainz_Identifier') }}
      </p>
      <p>
        {{ _('The foundation was founded in 2004 by Robert Kaye, in San Luis Obispo, California and is a 
        501(c)(3) tax-exempt non-profit. <a href="%(supporters_url)s">Commercial users</a> are asked to contribute 
        financially in order to help fund our family of projects, and give back to our community to keep our 
        ecosystem healthy. Non-commercial use of our data remains free, and we are committed to keeping it free to utilize. 
        We are also supported by donations and a number of <a href="%(sponsors_url)s">sponsors</a> who provide 
        funds in order for the foundation to continue to accomplish various project goals. The MetaBrainz 
        Foundation believes in <a href="%(financial_reports_url)s">transparent finances,</a> which are published quarterly.',
            supporters_url='https://metabrainz.org/supporters',
            financial_reports_url='https://metabrainz.org/finances/',
            sponsors_url='https://metabrainz.org/sponsors') }}
      </p>
    </div>
  </div>
  <h3>{{ _('Board of Directors') }}</h3>
  {{ _('Our board of directors consists of:') }}
  <ul>
    <li>{{ _('Director Nick Ashton-Hart, Executive Director of the <a href="%(internet_ecosys_url)s">Internet &amp; Digital Ecosystem Alliance</a>', internet_ecosys_url='http://www.internet-ecosystem.org/people') }}</li>
    <li>{{ _('Director <a href="%(paul_url)s">Paul Bennun</a> is the Chief Content Officer at <a href="%(kcrw_url)s">KCRW</a>, Los Angeles', paul_url='http://paulbennun.com/', kcrw_url='https://kcrw.org/') }}</li>
    <li>{{ _('Director <a href="%(cory_url)s">Cory Doctorow</a>, Sci-Fi author and editor of the <a href="%(boing_url)s">Boing Boing</a> weblog', cory_url='http://craphound.com/', boing_url='https://boingboing.net/') }}</li>
    <li>{{ _('Director <a href="%(matthew_url)s">Matthew Hawn</a> of <a href="%(audio_net_url)s">Audio Network</a>', matthew_url='https://www.linkedin.com/pub/matthew-hawn/8/b74/8a', audio_net_url='https://www.audionetwork.com/') }}</li>
    <li>{{ _('Director <a href="%(paula_url)s">Paula Le Dieu</a>, Freelance consultant, Open Culture.', paula_url='https://www.linkedin.com/in/paulaledieu/') }}</li>
    <li>{{ _('Director &amp; Treasurer <a href="%(rassami_url)s">Rassami Hok Ljungberg</a> of the <a href="%(m4p5_url)s">Music 4.5 seminar series</a> put on by <a href="%(two_pears_url)s">2 Pears</a>', rassami_url='https://www.linkedin.com/in/rassamih', m4p5_url='http://www.music4point5.com/', two_pears_url='http://2pears.com/') }}</li>
    <li>{{ _('Executive Director <a href="%(mayhem_url)s">Robert Kaye</a> of the MetaBrainz Foundation', mayhem_url='http://mayhem-chaos.net/') }}</li>
    <li>{{ _('Secretary <a href="%(freso_url)s">Frederik “Freso” S. Olesen</a>, Community Manager of the MetaBrainz Foundation', freso_url='https://freso.dk/') }}</li>
  </ul>
  <p>

  <h3>{{ _('Officers') }}</h3>
  {{ _('The officers of this company are:') }}
  <ul>
    <li>{{ _('President Robert Kaye') }}</li>
    <li>{{ _('Treasurer <a href="%(rassami_url)s">Rassami Hok Ljungberg</a>', rassami_url='https://www.linkedin.com/in/rassamih') }}</li>
    <li>{{ _('Secretary <a href="%(freso_url)s">Frederik “Freso” S. Olesen</a>', freso_url='https://freso.dk/') }}</li>
  </ul>
{% endblock %}
