{% extends 'base.html' %}

{% block title %}{{ _('Code of Conduct') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  {###
    When updating this file, please also update the other CODE_OF_CONDUCT.md files in other repositories:

      * The most important is the template repository as it is automatically used in other repositories not having such file:
        https://github.com/metabrainz/.github/blob/master/CODE_OF_CONDUCT.md

      * Other repositories may have a custom code of conduct that needs updating.
        To find projects having a (not necessarily custom) CODE_OF_CONDUCT.md file, go to:
        http://livegrep.metabrainz.org/search/livegrep?q=file%3ACODE_OF_CONDUCT.md&fold_case=auto&regex=false&context=true
  ###}
  <h1 class="page-title">{{ _('Code of Conduct') }}</h1>

  <p>
    This Code of Conduct describes how members of the MetaBrainz communities should interact and behave. The purpose is not so much to
    define a standard that everybody must follow, but to explicitly describe all the previously unwritten rules that make up good
    behavior in the MetaBrainz communities.
  </p>

  <ol>
    <li>
      Be polite. Remember that there's a real person on the receiving end of any communication. Treat people as you'd wish to be
      treated yourself.
    </li>
    <li>
      Remember that everyone was new at some point and a polite nudge in the right direction is sometimes all that it takes to set
      them on the right path.
    </li>
    <li>
      Don't get into flame wars, and try to remain as neutral as possible. Do not attack someone personally because you don't
      agree with them.
    </li>
    <li>
      MetaBrainz projects have global communities. Be mindful and respectful of different languages, habits and cultures.
    </li>
    <li>
      Share knowledge freely. New members should not be embarrassed about ignorance.
    </li>
    <li>
      Respectfully suggest other options. Not everyone wants to reconfigure their directories, change their OS or switch players and formats.
    </li>
    <li>
      Try not to pick fights by <a href="http://www.merriam-webster.com/dictionary/nitpicking">nit-picking</a> other contributors. Asking for
      a source or reason (if not provided by the contributor in a contribution) is OK; otherwise, you can always submit your own edit to fix
      small errors or omissions. This is more productive.
    </li>
    <li>
      Use gender-neutral language whenever possible. Unless actually talking about genders or specific people, there is no reason
      to use gendered language. As we touch older work that is not gender-neutral, we should make an effort to make it gender-neutral.
    </li>
    <li>
      Do not abuse or game any of our projects. All of our projects are community maintained and abusive actions negatively affect other users.
      Do not use or create <a href="https://en.wikipedia.org/wiki/Sockpuppet_(Internet)">sockpuppets</a>, unauthorised bots, or any other means
      of circumventing the intent or integrity of our projects.
    </li>
  </ol>

  <p>
    Each project may also define a Code of Conduct of its own that builds on the MetaBrainz social contract. For instance, have a look at
    the <a href="https://musicbrainz.org/doc/Code_of_Conduct">MusicBrainz Code of Conduct</a>. Should you encounter a Code of Conduct violation
    and want to find out how we deal with infractions, please take a look at our
    <a href="https://metabrainz.org/conflict-policy">conflict resolution policy</a>.

  </p>

{% endblock %}
