{% extends 'base.html' %}

{% block title %}{{ _('Code of Conduct') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Code of Conduct') }}</h1>

  <p>
    This Code of Conduct describes how members of the MetaBrainz communities should interact and behave. The purpose is not so much to 
    define a standard which everybody must follow, but to explicitly describe all the previously unwritten rules that make up good 
    behavior in the MetaBrainz communities.
  </p>

  <ol>
    <li>
      Be polite. Remember that there's a real person on the receiving end of any communication. Treat people as you'd wish to be 
      treated yourself.
    </li>
    <li>
      Remember that everyone was new at some point and a polite nudge in the right direction is sometimes all that it takes to set 
      them on the right path.
    </li>
    <li>
      Don't get into flame wars, and try to remain as neutral as possible. Do not attack someone personally because you don't 
      agree with them.
    </li>
    <li>
      MetaBrainz projects have global communities. Be mindful and respectful of different languages, habits and cultures.
    </li>
    <li>
      Share knowledge freely. New members should not be embarrassed for ignorance.
    </li>
    <li>
      Respectfully suggest other options. Not everyone wants to reconfigure their directories, change their OS or switch players and formats.
    </li>
    <li>
      Try not to pick fights by <a href="http://www.merriam-webster.com/dictionary/nitpicking">nit-picking</a> other contributors. Asking for 
      a source or reason (if not provided by the contributor in a contribution) is OK; otherwise you can always submit your own edit to fix 
      small errors or omissions. This is more productive.
    </li>
    <li>
      Use gender neutral language whenever possible. Unless actually talking about genders or specific people, there is no reason 
      to use gendered language. As we touch older work that is not gender neutral, we should make an effort to make it gender neutral.
    </li>
  </ol>

  <p>
    Each project may also define a Code of Conduct of its own that builds on the MetaBrainz social contract. For instance, have a look at 
    the <a href="https://musicbrainz.org/doc/Code_of_Conduct">MusicBrainz Code of Conduct</a>.
  </p>

{% endblock %}
