{% extends 'base.html' %}
{% block title %}{{ _('Conflict Resolution Policy') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
<style>
.backemail{
     unicode-bidi: bidi-override;
     direction: rtl;
     font-weight: bold;
}
</style>
  <h1 class="page-title">{{ _('Conflict Resolution Policy') }}</h1>

  <h2>{{ _('Introduction') }}</h2>

  <p>
    Conflicts between people arise in open source projects constantly and the projects by the 
    MetaBrainz Foundation are no different. This policy aims to establish a clear and unambiguous 
    policy for reporting and addressing conflicts in our community. In this policy we aim to 
    establish a fair practice that balances the need for confidentiality and our desire for 
    transparency in our operations.
  </p>

  <p>
    Before you continue to read this policy, we encourage you to review our existing community policies 
    including our <a href="/social-contract">Social Contract</a>, 
    <a href="/code-of-conduct">the Code of Conduct</a>, 
    and our <a href="/privacy">Privacy Policy</a>. These policies establish the norms and rules for 
    participation in our projects; these policies apply equally to the contractors of the MetaBrainz 
    Foundation and any participants in our projects.
  </p>

  <p>
    This policy divides conflicts into two categories: Public and private. Private conflicts are conflicts 
    that involve confidential information regarding contributors, contractors or supporters. Any conflict 
    that does not involve confidential information is considered to be a public conflict. For instance, a 
    conflict between a contractor and the Executive Director (aka BDFL) that involves contractor pay is 
    considered a private conflict because pay rates are confidential information. A public conflict in edit 
    notes between two editors in our community does not involve confidential information and therefore should 
    be considered a public conflict.
  </p>

  <p>
    When conflicts arise we aim to disclose as much information as possible about the conflict in a timely 
    fashion. When conflicts contain confidential matters we will aim to disclose as much information as 
    possible, while fully respecting the confidentiality of the people involved in the conflict. With any 
    private conflict we will aim to extract the relevant lessons for the team and community in an effort to 
    evolve our policies to prevent future conflicts. Should the involved parties disagree whether a conflict 
    is private or public, the question about the nature of the conflict will be presented for the next higher 
    level in the chain of command to decide. (e.g. if a community member and the community manager disagree on 
    a conflict being public or private, the Executive Director shall decide if the conflict is public or private).
  </p>


  <h2 class="page-title">{{ _('Reporting and Response') }}</h2>

  <p>
    We aim to not have conflict in our community, but we recognize that in reality conflicts will arise and we 
    must be prepared to address them in a fair manner. When conflicts arise, we prefer to have community or team 
    members resolve the conflicts among themselves, using our existing policies as guidelines for resolving the 
    conflict.
  </p>


  <p>
    If you do not feel comfortable resolving a conflict on your own, you should feel free to report the conflict to 
    us. How you address the conflict depends on who is involved in the conflict and your comfort level. Please see 
    the detailed sections below on how and with whom to address your conflict. We aim to address conflicts as soon 
    as possible in an effort to prevent them from escalating unnecessarily.
  </p>

  <h3>Direct conflict resolution</h3>

  <p>
   In direct conflict resolution, the involved parties will attempt to resolve the conflict themselves without 
   involving any MetaBrainz Foundation team member. You should aim to use direct resolution when the conflict does 
   not involve the violation of one of our policies or if the conflict is minor. 
   </p>

  <p>
    For instance, if a user uses a rude tone, is disruptive or flagrantly ignores our project guidelines, we suggest 
    that you use direct conflict resolution to resolve the conflict. Some resources that might give you some suggestions 
    on how to go about resolving the conflict might be this <a href="https://opensource.com/life/16/5/conflict-resolution-primer">
    conflict resolution primer</a> and <a href="https://hbr.org/2015/01/how-to-handle-difficult-conversations-at-work">how to
    have difficult conversations at work</a>.
  </p>

  <h3>Informal reporting</h3>

  <p>
    You may use informal reporting of a conflict if you aim to communicate a concern or incident without 
    seeking a corrective outcome. Informal reporting may also be an option if you have not been personally 
    victimized, but you’ve witnessed a violation of our policies or where you wish to maintain confidentiality 
    throughout the entire reporting process.
  </p>

  <p>
    For editing in MusicBrainz you may informally report a user using the “Report this user for bad behavior” 
    link from the user’s profile. For reporting bad user behavior in other of our projects, please report them to our 
    community manager by mailing <span class="backemail">gro.zniarbatem@ytinummoc</span> . For conflicts 
    that involve the community manager, report them by mailing <span class="backemail">gro.zniarbatem@de</span> .
  </p>

  <p>
    Depending the the severity of the issue, repeated informal complaints may eventually require a formal response 
    from the MetaBrainz team. If an involved party requires anonymity, the conflict becomes a private conflict. If at 
    all possible minor issues should be resolved in a public forum in order for all people to witness and learn from 
    the issue at hand.
  </p>

  <h3>Formal complaint process</h3>

  <p>
    All complaints about conflicts should be submitted via email. To whom a complaint should be mailed and who will 
    carry out the investigation will be described in the next section.
  </p>

  <p>
    All complaint submissions to the Foundation should include the following:
  </p>

  <ul>
     <li>Contact info, if it is different than the email used to submit the conflict</li>
     <li>Who was involved in the conflict</li>
     <li>Where and when the incident happened </li>
     <li>A description of what happened -- ideally with links (e.g. chatlogs, edit notes) that outlines what 
         happened so that the persons evaluating the conflict may understand the issue at hand.</li>
     <li>Any related pieces of information that provide more context on the conflict. (e.g. links, screenshots)</li>
     <li>An indication if this conflict is ongoing or not</li>
  </ul>


  <p>
    The investigation that follows aims to determine:
  </p>

  <ul>
     <li>The nature and severity of the incident</li>
     <li>Whether or not the incident is considered a violation of MetaBrainz’ conduct policies or core values</li>
     <li>The amount of harm experienced by the person who submitted the complaint and the broader MetaBrainz community 
         as a result of the incident</li>
     <li>Whether there have been prior complaints against the individual or individuals reported</li>
     <li>Whether the incident is ongoing</li>
  </ul>

  <p>
    The following potential forms of resolution may apply to any team members involved in the conflict:
  </p>
  <ul>
     <li>Nothing (if it has been found no violation occurred) </li>
     <li>Creating a plan to improve the performance</li>
     <li>Creating a negative performance evaluation</li>
     <li>Mediation, an intervention by a third party to resolve the conflict.</li>
     <li>Suspension or forced leave</li>
     <li>Termination of contract</li>
  </ul>

  <p>
    The following potential forms of resolution may apply to non team members involved in the conflict:
  </p>

  <ul>
     <li>Nothing (if it has been found no violation occurred)</li>
     <li>A reprimand, either public or private.</li>
     <li>Suspension of the users’ account.</li>
     <li>Deletion of the users’ account.</li>
     <li>Removal of user privileges (e.g. if an auto editor commits a serious offence, they may lose their auto editor status) </li>
  </ul>

  <h3>Filing a complaint</h3>

  <p>
    NOTE: For complaints not about MetaBrainz staff, please see the <em>Informal reporting</em> section above.
  <p>

  <p>
    If the complaint does not involve the Executive Director (ED), do the following:
  </p>

  <ul>
    <li>If team member has directly violated conduct policies or engaged in otherwise harmful behavior, a formal complaint should be filed.</li>
    <li>Mail <span class="backemail">gro.zniarbatem@de</span> and include the complaint information outlined above.</li>
    <li>You should expect a response within a working day acknowledging the complaint.</li>
    <li>The complaint will be investigated by the ED, member(s) of the board of directors or a neutral third party.</li>
    <li>Once the investigation has been completed, the ED, with the support of others involved in the investigation will respond. The 
        ED will respond to incidents no later than 7 working days after a complaint has been filed with either a resolution or an 
        explanation of why the process must be extended.</li>
  </ul>

  <p>
    If a complaint involves the Executive Director, do the following:
  </p>

  <ul>
    <li>If the Executive Director has directly violated conduct policies or engaged in otherwise harmful behavior, 
        a formal complaint should be filed with the board of directors.</li>
    <li>Mail <span class="backemail">gro.zniarbatem@noituloser-tcilfnoc</span> and include the complaint information outlined above.</li>
    <li>You should get a response within 5 working days acknowledging the complaint.</li>
    <li>The complaint will be investigated by the member(s) of the board of directors, the community manager, a neutral 
        third party or a combination thereof.</li>
    <li>Once the investigation has been completed, the board, with the support of others involved in the investigation 
        will respond. The board will aim to respond to incidents no later than 15 working days after a complaint has been filed 
        with either a resolution or an explanation of why the process must be extended.</li>
  </ul>

  <h2>Confidentiality</h2>

  <p>
    Confidentiality is an important aspect of conflict resolution and all of the conflicts brought to the attention of the foundation 
    will be evaluated with confidentiality in mind and acted upon accordingly.
  </p>

  <p>
    We work hard to make all of the actions of the foundation as transparent and open as possible. In cases where we cannot 
    disclose all aspects of a conflict we will disclose that a conflict is or has occurred and we will attempt to disclose the 
    appropriate amount of information about the conflict while balancing the need for confidentiality and our desire to learn 
    from conflicts so that we as a foundation and community can learn from these conflicts and improve our policies to avoid the 
    conflicts in the future.
  </p>

  <p>
    Any breaches of confidentiality will be treated as severe breaches of our conduct policies.
  </p>

  <h2>Retaliation</h2>

  <p>
    We will not allow retaliation for any contractor or volunteer that files a complaint or is involved in an investigation. If you 
    believe that you are being treated negatively because of your involvement in a complaint please report this complaint directly 
    to the ED at <span class="backemail">gro.zniarbatem@de</span> or the board at 
    <span class="backemail">gro.zniarbatem@noituloser-tcilfnoc</span> .
  </p>

{% endblock %}
