{% extends 'base.html' %}

{% block title %}Contact - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">Contact</h1>

  <div class="row">
    <div class="col-sm-6">
      <h3>Advertising & product offers</h3>
      <p>
      <strong>IMPORTANT:</strong> 
      We are not interested in having advertising on this or any of our sites.
      We are also not interested in whatever products you have to offer us. Period.
      If you disregard this message and spam us anyway, we reserve the right to make
      fun of you and report you as a spammer.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3>E-mail us</h3>
      <p>
        General inquiries: <a href="mailto:nonprofit@metabrainz.org">nonprofit@metabrainz.org</a><br />
        Donations: <a href="mailto:donations@metabrainz.org">donations@metabrainz.org</a><br />
        Sponsorship inquiries: <a href="mailto:sponsors@metabrainz.org">sponsors@metabrainz.org</a>
      </p>
    </div>
    <div class="col-sm-6">
      <h3>IRC</h3>
      <p>
        The MetaBrainz/MusicBrainz team, as well as MusicBrainz users, hang
        out in the <a href="irc://irc.freenode.net/musicbrainz">#musicbrainz</a>
        channel on IRC chat at irc.freenode.net. Please feel free to browse the
        <a href="http://chatlogs.musicbrainz.org/">IRC log archives</a>.
      </p>
    </div>
    <div class="col-sm-6">
      <h3>Mailing address</h3>
      <p>
        MetaBrainz Foundation<br />
        3565 South Higuera St, Suite B<br />
        San Luis Obispo, CA 93401<br />
        United States
      </p>
    </div>
  </div>
{% endblock %}
