{% extends 'base.html' %}

{% block title %}{{ _('Contact') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Contact') }}</h1>

  <h3>{{ _('Found a bug in one of our projects?') }}</h3>
  <p>
    {{ _('Found a broken link or something that doesn\'t work as you expect it to? You can report issues in our
    <a href="%(bug_tracker_url)s">bug tracker</a>, or let us know on IRC or
    by email. Contact details are provided below. Please include details such as what happened, what you expected
    to happen, and the URLs of any pages involved.', bug_tracker_url='http://tickets.musicbrainz.org/secure/BrowseProjects.jspa') }}
  </p>

  <h3>{{ _('Have a question about MusicBrainz?') }}</h3>
  <p>
    {{ _('Please check the <a href="%(general_faq_url)s">General FAQ</a>, or one of the other pages
    of <a href="%(faq_url)s">frequently asked questions</a>, to see if
    your question has already been answered. If you\'re using <a href="%(picard_homepage)s">MusicBrainz
    Picard</a>, check its <a href="%(picard_troubleshooting)s">troubleshooting page</a>.',
    general_faq_url='https://musicbrainz.org/doc/General_FAQ', faq_url='https://musicbrainz.org/doc/Frequently_Asked_Questions',
    picard_homepage='https://picard.musicbrainz.org/', picard_troubleshooting='https://picard.musicbrainz.org/docs/troubleshooting/') }}
  </p>
  <h4>{{ _('Data removal requests') }}</h4>
  <p>
    {{ _('MusicBrainz does not edit or remove factual data upon request. Please read our
    <a href="%(dr_policy_url)s">data removal policy</a> for more information.', dr_policy_url='https://musicbrainz.org/doc/Data_Removal_Policy') }}
  </p>
  <h4>{{ _('Copyright issues') }}</h4>
  <p>
    {{ _('If you believe that MusicBrainz violates your copyright, you may
    <a href="%(cr_violation_url)s">report a copyright violation</a>. Please note
    that MusicBrainz provides data about recordings, <i>not the music itself</i>. If you find your music listed in
    MusicBrainz <b>it does not mean that we have access to or provide access to the music files themselves</b>. If
    you still think that we\'re infringing your copyright, you must provide us with a link to where you can download
    the infringing material from our website. If you cannot provide us a link, we cannot help you.', cr_violation_url='https://musicbrainz.org/doc/Copyright_Violation_Notice') }}
  </p>

  <h3>{{ _('Advertising requests') }}</h3>
  <p>
    {{ _('We are currently evaluating our overall online advertising strategy. We are evaluating advertising, traffic optimization,
    search engine optimization and software monitization technologies. If you provide these professional services, please provide a detailed
    deck of your comprehensive services to the following email address. <em>Please respect our other non-media teams and do not contact us 
    regarding these services on any other of our email addresses. We will disregard the entirety of your submissions if you contact us any other way!</em>') }}
  </p>

  <p style="font-size: 110%">
    <strong><a href="mailto:advertising@metabrainz.org">advertising@metabrainz.org</a></strong>
  </p>

  <p>{{ _('Please submit your proposals before 17:00 PST on %(ad_deadline)s.', ad_deadline = ad_deadline) }}

  <h3>{{ _('Contact details') }}</h3>
  <p>
    <strong>{{ _('Please do not contact us with the following topics:') }}</strong>
    <ul>
      <li>{{ _('We cannot license any of the music listed in MusicBrainz, since we have neither the music itself nor the
        rights to license the music.') }}</li>
      <li>{{ _('We are not distributing any of the music listed in MusicBrainz.') }}</li>
      <li>{{ _('For inquiries about advertising, SEO optimization, or software monetization services, please see above!') }}</li>
      <li>{{ _('Please do not offer us <b>any</b> other services! We are not interested.') }}</li>
      <li>{{ _('Please do not contact us about any job openings, we do not hire people who are not part of our community.') }}</li>
    </ul>
  </p>
  <p>
    <em>
      {{ _('If you disregard this agreement and contact us about one of the
      disallowed topics, we reserve the right to make fun of you.') }}
    </em>
  </p>

  <h3>{{ _('E-mail us') }}</h3>
  <button id="agree-btn" class="btn btn-default btn-success">
    {{ _('I agree with the rules above, show me the email address') }}
  </button>
  <div id="email-address" style="display: none;">
    <p>{{ _('You can reach the MetaBrainz staff directly at the following address:') }}</p>
    <p style="font-size: 110%">
      <strong><a href="mailto:support@metabrainz.org">support@metabrainz.org</a></strong>
    </p>
  </div>
  
  <h3>{{ _('Forums') }}</h3>
  <p>
    {{ _('Please come ask your questions at our <a href="%(forums_url)s">forums</a>! We would love to
    answer any questions you may have.', forums_url='https://community.metabrainz.org/') }}
  </p>

  <h3>{{ _('IRC') }}</h3>
  <p>
    {{ _('The MetaBrainz/MusicBrainz team, as well as MusicBrainz users, hang out in the
    <strong><a href="%(irc_url_mb)s">#musicbrainz</a></strong> and
    <strong><a href="%(irc_url_meb)s">#metabrainz</a></strong>
    channels on IRC chat at irc.freenode.net. If you don\'t have an IRC client
    installed, consider using this
    <a href="%(irc_webchat_url)s">webchat client</a>
    instead. Please feel free to browse the
    <a href="%(chatlogs_url)s">IRC log archives</a>.',
    irc_url_mb='irc://irc.freenode.net/musicbrainz',
    irc_url_meb='irc://irc.freenode.net/metabrainz',
    irc_webchat_url='https://webchat.freenode.net/?channels=musicbrainz,metabrainz',
    chatlogs_url='http://chatlogs.metabrainz.org/') }}
  </p>

  <p>
    {{ _('<strong>Note:</strong> Due to an
    <a href="%(spam_attack_url)s">on-going spam attack on the IRC network we use</a>
    we temporarily require people to
    <a href="%(irc_registration_url)s">register on the network</a>
    to be able to talk in our channels. Please follow
    <a href="%(irc_registration_url)s">the guide on how to register</a>
    and feel free to contact us by other means if you have issues or questions regarding this.',
    spam_attack_url='https://freenode.net/news/spambot-attack',
    irc_registration_url='https://freenode.net/kb/answer/registration') }}
  </p>

  <h3>{{ _('Mailing address') }}</h3>
  <p>
    MetaBrainz Foundation<br/>
    340 S Lemon Ave #6432<br/>
    Walnut, CA 91789<br/>
    United States
  </p>
{% endblock %}

{% block scripts %}
  {{ super() }}
    <script>
      $(document).ready(function () {
        var agreeBtn = $("#agree-btn");
        agreeBtn.click(function () {
          agreeBtn.hide();
          $("#email-address").show();
        });
      });
    </script>
{% endblock %}
