{% extends 'base.html' %}

{% block content %}
  <div id="homepage">

    <h2 class="page-title">Welcome to MetaBrainz!</h2>

    <div id="intro">
      <p>
        The MetaBrainz Foundation is a non-profit that believes in free, open
        access to data. It has been set up to build community maintained
        databases and make them available in the public domain or under Creative
        Commons licenses.
      </p>
      <p>
        Our data is mostly gathered by volunteers and verified
        by peer review to ensure it is consistent and correct. All
        <a href="{{ url_for("users.account_type") }}">non-commercial use</a> of this data is free,
        but <a href="{{ url_for("users.account_type") }}">commercial users</a> are asked to
        <a href="{{ url_for("users.account_type") }}">support us</a> in order to help fund the
        project. We encourage all data users to contribute to the data gathering process so
        that our data can be as comprehensive as possible.
      </p>
    </div>

    <div class="metaCarousel">
      <div id="projects-carousel" class="carousel slide" data-pause="hover" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="https://musicbrainz.org/">
              <img src="{{ url_for('static', filename='img/logos/musicbrainz.svg') }}" />
            </a>
            <div class="caption">
              An open music encyclopedia that collects music metadata and makes it
              available to the public<br />
              <em>Sign up to use the <a href="{{ url_for("users.account_type") }}">Live Data Feed</a></em>
            </div>
          </div>
          <div class="item">
            <a href="https://picard.musicbrainz.org/">
              <img src="{{ url_for('static', filename='img/logos/picard.svg') }}" />
            </a>
            <div class="caption">
              A cross-platform music tagger
            </div>
          </div>
          <div class="item">
            <a href="http://acousticbrainz.org/">
              <img src="{{ url_for('static', filename='img/logos/acousticbrainz.svg') }}" />
            </a>
            <div class="caption">
              A crowdsourced collection of acoustic information
            </div>
          </div>
          <div class="item">
            <a href="http://listenbrainz.org/">
              <img src="{{ url_for('static', filename='img/logos/listenbrainz.svg') }}" />
            </a>
            <div class="caption">
                An open record of user listening habits
            </div>
          </div>
          <div class="item">
            <a href="https://critiquebrainz.org/">
              <img src="{{ url_for('static', filename='img/logos/critiquebrainz.svg') }}" />
            </a>
            <div class="caption">
              A repository for Creative Commons licensed music reviews
            </div>
          </div>
          <div class="item">
            <a href="https://bookbrainz.org/">
              <img src="{{ url_for('static', filename='img/logos/bookbrainz.svg') }}" />
            </a>
            <div class="caption">
              An open encyclopedia which contains information about published literature
            </div>
          </div>
          <div class="item">
            <a href="https://coverartarchive.org/">
              <img src="{{ url_for('static', filename='img/logos/coverartarchive.svg') }}" />
            </a>
            <div class="caption">
              A repository of music cover art that is freely and easily accessible
            </div>
          </div>
        </div>
        {# Controls #}
        <a class="left carousel-control" href="#projects-carousel" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#projects-carousel" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="more-intro">
      <p>
        The MetaBrainz Foundation believes in <a href="{{ url_for('financial_reports.index') }}">
        transparent finances</a> and is supported by <a href="{{ url_for('donations.index') }}">end user
        donations</a> and a number of <a href="{{ url_for('index.sponsors') }}">sponsors</a>
        who provide funds in order for the foundation to accomplish its goals. The foundation also
        has several <a href="{{ url_for('users.supporters_list') }}"> commercial supporters</a>
        who make use of our data sets.
      </p>
    </div>

    {% if good_users %}
      <div id="featured-users" class="row {{ 'homepage-section' if not bad_users }}">

        {% if bad_users %}
          <div class="col-sm-6 users-block">
            <div class="panel panel-success goodguys">
              <div class="panel-heading">The Good Companies</div>
              <div class="panel-body">
                <div class="">
                  <div class="col-sm-2" style="text-align: center;">
                    <h1 class="text-success glyphicon glyphicon-thumbs-up"></h1>
                  </div>
                  <div class="col-sm-10">
                    Some people do it right! Have a look at our
                    <a href="{{ url_for('users.supporters_list') }}">list of supporters</a>.
                  </div>
                  <div class="clearfix"></div>
                </div>
                <hr />
                <div class="row">
                  {% for user in good_users[:2] %}
                    <div class="col-sm-6 logo">
                      <span><img src="{{ user.org_logo_url }}" /></span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 users-block">
            <div class="panel panel-danger badguys">
              <div class="panel-heading">The Bad Companies</div>
              <div class="panel-body">
                <div class="">
                  <div class="col-sm-2" style="text-align: center;">
                    <h1 class="text-danger glyphicon glyphicon-thumbs-down"></h1>
                  </div>
                  <div class="col-sm-10">
                    Unfortunately some companies use data we provide without contributing back.
                    <a href="{{ url_for('index.bad_customers') }}">Find out more</a> or
                    <a href="{{ url_for('users.account_type') }}">Sign up</a>!
                  </div>
                  <div class="clearfix"></div>
                </div>
                <hr />
                <div class="row">
                  {% for user in bad_users %}
                    <div class="col-sm-12 logo">
                      <span><img src="{{ user.org_logo_url }}" /></span>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        {% else %}
          {% for user in good_users %}
            <div class="col-sm-3 user">
            <span>
              <a href="{{ url_for('users.tier', tier_id=user.tier_id) if user.tier and user.tier.available
                          else url_for('users.supporters_list') }}">
                <img src="{{ user.org_logo_url }}" />
              </a>
            </span>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    {% endif %}

    <div id="additional-intro">
      To get more information about the foundation go to the
      <a href="{{ url_for('index.about') }}">about</a> page.
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function() {
      var $carousel = $(".metaCarousel");
      $carousel.addClass("iHaveJavasript");
    });
  </script>
{% endblock %}
