{% extends 'base.html' %}

{% block title %}Privacy - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>Privacy Policy</h1>

  <h2>Summary</h2>

  <p>
    The MetaBrainz Foundation will not collect any private information unless you choose to donate to support the MusicBrainz project. Any personal information you choose to provide during the donation process will not be revealed to anyone else, unless you give us permission to list your name on our donations page. We will not contact you unless you give us permission to do so when you make a donation.
  </p>

  <h2>MetaBrainz donors</h2>
  <p>
    When you make a donation to the MetaBrainz Foundation, we are legally required to collect your personal information and keep it in our records in case we ever get audited by the IRS. We will not disclose your personal information to anyone else, ever.
  </p>
  <p>
    We believe in transparent finances, which means that we list all donations made to us on this site. We will only list your name and the amount of the donation, unless you chose to be anonymous during the donation process.
  </p>

  <h2>Web and FTP access logs (all users)</h2>
  <p>
    Like just about all web sites, we keep logs of all web requests made against our servers. These logs include the usual stuff: your IP address, your browser's "User-Agent" string, and which page you requested.
  </p>
  <p>
    Reasonable exceptions may apply to the above policy, for example to comply with applicable laws. The MusicBrainz/MetaBrainz server administrators (about three people in all) can of course see any information on the system they want to, but to be honest they're probably not interested enough to look.
  </p>
{% endblock %}
