{% extends 'base.html' %}

{% block title %}{{ _('MetaBrainz Shop') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('MetaBrainz Shop') }}</h1>

  <p>
      We have an online shop where you can purchase t-shirts, mugs and many other things with MetaBrainz / MusicBrainz logos
      on them. Please note that earning income from outside of our metadata projects is not in our tax charter, so all products are
      offered at no mark-up, which means that MetaBrainz does not earn money from your purchase.
  </p>

  <p>
      <a href="https://www.redbubble.com/people/metabrainz/shop">Visit our shop</a>, or jump straight to the 
      <a href="https://www.redbubble.com/people/metabrainz/works/28012273-metabrainz-foundation-tee-vertical-pattern?grid_pos=1&p=t-shirt&rbs=cf672eba-cb57-43cb-a8a4-11d0d703cbb3&ref=artist_shop_grid&style=mens">latest MetaBrainz t-shirt</a>.
  </p>

{% endblock %}
