{% extends 'base.html' %}

{% block title %}{{ _('Social Contract') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Social Contract') }}</h1>

  <p>
    This social contract defines the spirit underpinning MetaBrainz' projects and its community. This contract is not a legally binding 
    contract; for legal information regarding products (including the MetaBrainz's Databases), please consult the license pages of 
    the specific project.
  </p>

  <ol>
    <li>
      <b>MetaBrainz's projects will remain 100% free</b>: The development process will be open to the public by using our community forum, 
      meetings open to interested parties, and open chat channels. The client and server software will remain free and accessible under generally 
      accepted open licenses. The factual database content will be in the public domain and the non-factual database content will be released 
      under Creative Commons licenses. 
    </li>

    <li>
      <b>We will give back to the web and free software community</b>: When we add extensions to MetaBrainz projects we will license them as free 
      software or content. We will make the best system we can, so that our open data projects will be widely distributed and used. We will 
      feed back bug-fixes, improvements, user requests, etc. using our normal public communication channels.
    </li>

    <li>
      <b>We won't hide problems and policies</b>: We will keep all MetaBrainz related discussions open for public view at all times, regardless 
      of their content. All problems and policies related to MetaBrainz will be visible to all. 
    </li>

    <li>
      <b>Our priorities are our users, free content, and free software</b>: We will be guided by the needs of our users, free content and software 
      community. We will place their interests first in our priorities. We won't object to commercial use of our content, companies can use 
      the work of our volunteers without any charge, but charging for the content itself is forbidden. We aim to follow the GPL in that 
      "You may charge a fee for the physical act of transferring a copy, and you may at your option offer warranty protection in exchange 
      for a fee." 
    </li>

    <li>
      <b>MetaBrainz projects are interested in all types of data/metadata</b>: Published/unpublished, popular/fringe, western/non-western and 
      human/non-human music should all be captured by our projects. MetaBrainz does not discriminate on sex, religion, race or controversial viewpoints. 
      MetaBrainz does not prefer one type of metadata over another, which also means that MetaBrainz does not condemn or condone any of the content catalogued 
      in the database. Editors and voters are expected to tolerate viewpoints that may differ from their own. 
    </li>

    <li>
      <b>No warranty or liability for errors</b>: There is no warranty for the content of the MetaBrainz databases or the software. It is provided 
      "as is" without warranty of any kind for correctness or completeness. 
    </li>
  </ol>

  <p>
    Each project may also define a Social Contract of its own that builds on the MetaBrainz social contract. Please view the project's
    documentation pages for more information.
  </p>

{% endblock %}
