{% from 'macros.html' import print_message %}

<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}MetaBrainz Foundation{% endblock %}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16.png') }}" type="image/png" />
      <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32.png') }}" type="image/png" />
      <link rel="icon" sizes="64x64" href="{{ url_for('static', filename='img/favicon-64.png') }}" type="image/png" />
      <link rel="icon" sizes="128x128" href="{{ url_for('static', filename='img/favicon-128.png') }}" type="image/png" />
      <link rel="icon" sizes="256x256" href="{{ url_for('static', filename='img/favicon-256.png') }}" type="image/png" />

      {% if config.USE_COMPILED_STYLING %}
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen" />
      {% else %}
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='css/main.less') }}" />
        <script src="{{ url_for('static', filename='js/less-1.7.5.min.js') }}"></script>
      {% endif %}
    {% endblock %}
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          {{ print_message(message, category) }}
        {% endfor %}
      {% endwith %}

      {% block content %}
        <!-- Page content -->
      {% endblock %}

      {% block footer %}
        <hr />
        <div class="footer">
          <div class="row">
            <div class="col-sm-3">
              <div class="title"><a href="{{ url_for('index.about') }}">Foundation</a></div>
              <ul>
                <li><a href="{{ url_for('index.projects') }}">Projects</a></li>
                <li><a href="{{ url_for('index.team') }}">Team</a></li>
                <li><a href="{{ url_for('index.sponsors') }}">Sponsors</a></li>
                <li><a href="{{ url_for('users.supporters_list') }}">Supporters</a></li>
                <li><a href="{{ url_for('index.privacy_policy') }}">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <div class="title"><a href="{{ url_for('financial_reports.index') }}">Finances</a></div>
              <ul>
                <li><a href="{{ url_for('annual_reports.index') }}">Annual Reports</a></li>
                <li><a href="{{ url_for('payments.donors') }}">Donors</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <div class="title"><a href="{{ url_for('users.supporters_list') }}">Users</a></div>
              <ul>
                {% if not current_user or current_user.is_anonymous %}
                  <li><a href="{{ url_for('users.login') }}">Sign in</a></li>
                {% else %}
                  <li><a href="{{ url_for('users.logout') }}">Sign out</a></li>
                {% endif %}
                <li><a href="{{ url_for('users.profile') }}">Access your account</a></li>
                <li><a href="{{ url_for('api.info') }}">API</a></li>
              </ul>
            </div>
            {# Last block should fill up the rest of this row. #}
            <div class="col-sm-3">
              <div class="title"><a href="{{ url_for('index.contact') }}">Contact us</a></div>
              <ul>
                <li><a href="https://blog.musicbrainz.org/category/metabrainz/">Blog</a></li>
                <li><a href="https://twitter.com/MetaBrainz">Twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="lower-footer">
            Hosted by <a href="http://digitalwest.net/">Digital West</a>.
            Sponsored by: <a href="https://www.google.com/">Google</a>,
            <a href="https://osuosl.org/">OSUOSL</a> and
            <a href="{{ url_for('index.sponsors') }}">others&hellip;</a>
          </div>
        </div>
      {% endblock %}

    </div>

    {% block scripts %}
      <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}

  </body>

</html>
