{% extends 'base.html' %}

{% block content %}
  <h1>Contact</h1>

  <p>For donations to the non-profit, please visit our <a href="{{ url_for('donation.index') }}">donation page</a>.</p>

  <h2>E-mail us</h2>
  <p>General inquiries: <a href="mailto:nonprofit@metabrainz.org">nonprofit@metabrainz.org</a></p>
  <p>Donations: <a href="mailto:donations@metabrainz.org">donations@metabrainz.org</a></p>
  <p>Sponsorship inquiries: <a href="mailto:sponsors@metabrainz.org">sponsors@metabrainz.org</a></p>

  <h2>IRC</h2>
  <p>The MetaBrainz/MusicBrainz team, as well as MusicBrainz users, hang out in the <a href="irc://irc.freenode.net/musicbrainz">#musicbrainz</a> channel on IRC chat at irc.freenode.net. Please feel free to browse the <a href="http://chatlogs.musicbrainz.org/">IRC log archives</a>.</p>
  
  <h2>Mailing address</h2>
  <p>
    MetaBrainz Foundation
    <br />3565 South Higuera St, Suite B
    <br />San Luis Obispo, CA 93401
    <br />United States
  </p>
{% endblock %}
