{% extends 'base.html' %}

{% block title %}Donations - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h2>Donations</h2>

  {% if not donations %}
    No donations. :(
  {% else %}
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Date</th>
        <th>Donor</th>
        <th>Donation</th>
        <th>Fee</th>
      </tr>
      </thead>
      <tbody>
      {% for donation in donations %}
        <tr>
          <td>{{ donation.timestamp|datetime }}</td>
          <td>
            {% if donation.anonymous %}
              (anonymous)
            {% else %}
              {{ donation.first_name }} {{ donation.last_name }}
              {% if donation.moderator %}
                (<a href="//musicbrainz.org/user/{{ donation.moderator }}">{{ donation.moderator }}</a>)
              {% endif %}
            {% endif %}
          </td>
          <td>${{ donation.amount }}</td>
          <td>${{ donation.fee }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if (page - 4) > 0 %}
      {% set start = page - 4 %}
    {% else %}
      {% set start = 1 %}
    {% endif %}
    {% set last_page = (count / limit)|round(method='ceil')|int %}
    <nav>
      <ul class="pagination">
        <li {{ 'class=disabled' if page == 1 }}><a href="{{ url_for('finances.donations', page=1) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">First</span></a></li>
        <li {{ 'class=disabled' if page == 1 }}><a href="{{ url_for('finances.donations', page=page-1) }}"><span aria-hidden="true">&lsaquo;</span><span class="sr-only">Previous</span></a></li>

        {% for cur_page in range(start, last_page+1) %}
          {% if loop.index < 9 %}
            <li {{ 'class=active' if cur_page == page }}><a href="{{ url_for('finances.donations', page=cur_page) }}">{{ cur_page }}</a></li>
          {% endif %}
        {% endfor %}

        <li {{ 'class=disabled' if page == last_page }}><a href="{{ url_for('finances.donations', page=page+1) }}"><span aria-hidden="true">&rsaquo;</span><span class="sr-only">Next</span></a></li>
        <li {{ 'class=disabled' if page == last_page }}><a href="{{ url_for('finances.donations', page=last_page) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Last</span></a></li>
      </ul>
    </nav>
  {% endif %}
{% endblock %}
