{% extends 'base.html' %}

{% block title %}Customers - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>Customers</h1>

  <style>
    td { vertical-align: middle !important; }
    tr :first-child { text-align: center; }
  </style>

  <p>
    The following organizations license our data and use <a href="http://musicbrainz.org/doc/MusicBrainz_Identifier">MusicBrainz Identifiers</a> (MBIDs) for their own operations. This list does not include any individuals/companies that are using our Public Domain/Creative Commons data snapshots -- there are many users of this data beyond the licensees listed here:
  </p>
  <table class="table table-bordered table-condensed">
    <tbody>
    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/200px-logo_7digital.jpg') }}" /></td>
      <td><a href="http://7digital.com">7digital</a> uses MusicBrainz data in their digital content platform to provide consumers, partners and developers with open access to an extensive international catalogue of high quality digital content.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/200px-logo_8tracks.jpg') }}" /></td>
      <td><a class="external text" href="http://8tracks.com">8tracks</a> uses MusicBrainz data in their internet radio service.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/200px-logo_amazon.jpg') }}" /></td>
      <td><a href="http://amazon.com">Amazon</a> uses MusicBrainz data in their various music related offerings.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_bandpage.png') }}" /></td>
      <td><a class="external text" href="https://www.bandpage.com/">BandPage</a> uses MusicBrainz data for their services.</td>
    </tr>
    <tr>
      <td>BBC</td>
      <td>The <a href="http://bbc.co.uk">British Broadcasting Corporation (BBC)</a> uses MusicBrainz data to provide detailed information about the artists who get played on their radio networks. The BBC also has a team of editors who are participating in editing the MusicBrainz data for use with their internal systems and the /music web pages.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/125px-logo_echonest.jpg') }}" /></td>
      <td><a href="http://the.echonest.com/">The Echo Nest</a> uses MusicBrainz data in their Rosetta Stone project and many of their APIs.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/200px-logo_google.jpg') }}" /></td>
      <td><a href="http://google.com">Google</a> uses MusicBrainz data to expand the <a href="http://www.freebase.com">FreeBase</a> entity graph. Freebase is an open, Creative Commons licensed, repository of structured data.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_grooveshark.png') }}" /></td>
      <td><a class="external text" href="http://grooveshark.com/">Grooveshark</a> is a peer-to-peer digital music brokerage and social community that rewards users for sharing their music. Grooveshark uses MusicBrainz data to fuel its music discovery system.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-logo_musicgraph.png') }}" /></td>
      <td><a href="http://corp.senzari.com/">Senzari</a> uses MusicBrainz on their <a href="http://musicgraph.com/">MusicGraph</a> service.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_lastfm_red.gif') }}" /></td>
      <td><a class="external text" href="http://last.fm">Last.fm</a> is a social music site that combines the power of social networking with the power of music to provide first class music recommendations. With Last.fm you can create your own music profile and listen to personalized radio stations that play your music recommendations.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_musixmatch.png') }}" /></td>
      <td><a class="external text" href="http://musixmatch.com">MusixMatch</a> licenses lyrics from all over the world and makes it easy to access and license lyrics.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_radiotuna.png') }}" /></td>
      <td><a class="external text" href="http://radiotuna.com">Radio Tuna</a> is a real-time search engine and player for online radio. Powered by MusicBrainz data, it tracks the music played on over 20,000 internet radio stations around the world, enabling them to be searched by artist or genre.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_rocksho.jpg') }}" /></td>
      <td><a class="external text" href="http://rocksho.com/">rocksho</a> is a music site that uses MusicBrainz as one of its data sources to let fans easily track their favorite artists.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-Spotify_logo_horizontal_white.jpg') }}" /></td>
      <td><a class="external text" href="http://www.spotify.com">Spotify</a> uses MusicBrainz data in their music streaming services.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/125px-logo_zvooq.png') }}" /></td>
      <td><a class="external text" href="https://zvooq.ru">Zvooq</a> is a Spotify competitor in Russia that focuses on music released worldwide.</td>
    </tr>
    </tbody>
  </table>

  <p>Find out more about our data licenses and what data is included in MusicBrainz.</p>

  <h2>Public education institutions</h2>
  <p>The following universities make use of our live data feed (provided for free to public education institutions):</p>
  <table class="table table-bordered table-condensed">
    <tbody>
    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-logo_upf.jpg') }}" /></td>
      <td><a href="http://www.upf.edu/">Universitat Pompeu Fabra</a> -- The Universitat Pompeu Fabra in Barcelona uses MusicBrainz for projects in their <a href="http://www.mtg.upf.edu/">Music Technology Group</a>, like <a href="http://compmusic.upf.edu/">CompMusic</a>.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-qmul_logo.jpg') }}" /></td>
      <td><a href="http://www.qmul.ac.uk/">Queen Mary, University of London</a> -- Queen Mary, University of London uses MusicBrainz in their <a href="http://www.elec.qmul.ac.uk/digitalmusic/">Centre for Digital Music</a>.</td>
    </tr>
    </tbody>
  </table>

  <h2>Other MusicBrainz data users</h2>
  <p>The following companies/organizations are known to use the MusicBrainz data:</p>
  <table class="table table-bordered table-condensed">
    <tbody>
    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-logo_bandsintown.png') }}" /></td>
      <td><a href="http://www.bandsintown.com">Bandsintown</a> uses MusicBrainz data for their event-related services.</td>
    </tr>
    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_intertech.gif') }}" /></td>
      <td><a href="http://www.intertechmedia.com/">Intertech Media</a> uses MusicBrainz to provide services to radio stations to power their "recently played" listings.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_midwestcommunications.png') }}" /></td>
      <td><a href="http://mwcradio.com/">Midwest Communications</a> owns 60+ radio stations in the US. They use MusicBrainz data to enhance their display of music information on each of their radio stations' websites.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-logo_rankem.png') }}" /></td>
      <td><a href="http://gorankem.com/">Rank'em</a> -- Rank'em is crowdsourcing music discovery by aggregating the fan favorite songs for each and every artist of all-time. Rank 'em uses MusicBrainz to populate artist catalog listings so fans can easily rank their favorites through aided recall.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/200px-logo_oclc.png') }}" /></td>
      <td><a href="http://www.oclc.org/">OCLC</a> uses MusicBrainz data on their <a href="http://www.worldcat.org/">WorldCat</a> and <a href="http://www.isni.org/">ISNI</a> projects.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/logo_senscritique.png') }}" /></td>
      <td><a href="http://www.senscritique.com/">SensCritique</a> is a social network allowing users to rate and comment movies, books, music. SensCritique uses MusicBrainz data for building the music part of their content database.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-logo_setlistfm.png') }}" /></td>
      <td><a href="http://www.setlist.fm/">Setlist.fm</a> uses MusicBrainz data for their artist and release info.</td>
    </tr>

    <tr>
      <td><img src="{{ url_for('static', filename='img/logos/250px-logo_songkick.png') }}" /></td>
      <td><a href="https://www.songkick.com/">Songkick</a> uses MusicBrainz data for their event-related services.</td>
    </tr>
    </tbody>
  </table>

  <p>Do you know of others using the MusicBrainz data? If so please, contact us and let us know.</p>
{% endblock %}
