{% extends 'base.html' %}

{% block content %}
  <h1>Press Releases</h1>

  <p>
    <b>2007-06-28</b>:
    The BBC selects MusicBrainz as its new music metadata provider and incorporates MusicBrainz data into its music website at <a href="http://www.bbc.co.uk/music">www.bbc.co.uk/music</a>.
    <a href="{{ url_for('static', filename='files/press/MetaBrainzPressRelease_20070628.pdf') }}">View press release</a>.
  </p>

  <p>
    <b>2006-03-14</b>:
    The MetaBrainz Foundation and MusicIP announce their partnership to provide acoustic fingerprinting to the MusicBrainz community and for MusicBrainz to provide music metadata to MusicIP and its customers.
    <a href="{{ url_for('static', filename='files/press/MetaBrainzPressRelease_20060314.pdf') }}">View press release</a>.
  </p>

  <p>
    <b>2005-04-19</b>:
    The MetaBrainz Foundation is announced to the world, the board of directors is revealed and the first fundraiser to benefit the non-profit is held.
    <a href="{{ url_for('static', filename='files/press/MetaBrainzPressRelease_20050419.pdf') }}">View press release</a>.
  </p>
{% endblock %}
