{% extends 'base.html' %}

{% block content %}
  <h1>White Papers</h1>

  <p>
    The following white papers, originally published at MusicBrainz, give some of the history behind the project and how we arrived at our current license scheme and the plan to create the MetaBrainz non-profit.
  </p>

  <dl>
    <dt>MusicBrainz Non-Profit</dt>
    <dd>The non-profit white paper outlines the future plans for MusicBrainz and the steps required for creating and operating a music metadata non-profit corporation.</dd>
    <dd><a href="{{ url_for('static', filename='files/papers/MB_Nonprofit.pdf') }}">Download</a></dd>
  </dl>

  <dl>
    <dt>MusicBrainz License Issues</dt>
    <dd>This white paper covers issues surrounding the OpenContent license, licensing factual data and a call for participation for the creation of a new data centric license.</dd>
    <dd><a href="{{ url_for('static', filename='files/papers/MB_Data_License_Issues.pdf') }}">Download</a></dd>
  </dl>
{% endblock %}
