# Docker Compose file for development
volumes:
  db:

services:

  web:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-dev
    command: flask run --debug -h 0.0.0.0 -p 8000
    environment:
      FLASK_APP: "metabrainz:create_app()"
    volumes:
      - ../data/replication_packets:/data/replication_packets
      - ../data/json_dumps:/data/json_dumps
      - ..:/code/metabrainz
      - ../frontend:/static
    depends_on:
      - meb_db
      - redis
    expose:
      - "8000"
    ports:
      - "8000:8000"

  meb_db:
    image: postgres:12.3
    volumes:
      - db:/var/lib/postgresql/data:z
    environment:
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:3.2.1

  static_builder:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-frontend-dev
    command: npm run build:dev
    user: ${STATIC_BUILD_USER:-node}
    volumes:
      - ../frontend:/code/frontend:z

  webhook-worker:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-dev
    command: celery -A celery_worker:celery worker --loglevel=info --queues=webhooks --max-tasks-per-child=1000 --hostname=webhook-worker@%h
    depends_on:
      - redis
      - meb_db
    volumes:
      - ..:/code/metabrainz
    profiles:
      - webhooks

  webhook-maintenance:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-dev
    command: celery -A celery_worker:celery worker --loglevel=info --queues=webhooks_maintenance --hostname=maintenance-worker@%h
    depends_on:
      - redis
      - meb_db
    volumes:
      - ..:/code/metabrainz
    profiles:
      - webhooks

  webhook-beat:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-dev
    command: celery -A celery_worker:celery beat --loglevel=info
    depends_on:
      - redis
      - meb_db
    volumes:
      - ..:/code/metabrainz
    profiles:
      - webhooks

  webhook-flower:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-dev
    command: celery -A celery_worker:celery flower --port=5555
    depends_on:
      - redis
    ports:
      - "5555:5555"
    volumes:
      - ..:/code/metabrainz
    profiles:
      - webhooks
