# Docker Compose file for development
version: "3.8"

volumes:
  db:

services:

  web:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-dev
    command: python manage.py runserver -h 0.0.0.0 -p 80
    environment:
      AUTHLIB_INSECURE_TRANSPORT: true
    volumes:
      - ../data/replication_packets:/data/replication_packets
      - ../data/json_dumps:/data/json_dumps
      - ..:/code/metabrainz
      - ../frontend:/static
    ports:
      - "8000:80"
    depends_on:
      - db
      - redis

  db:
    image: postgres:12.3
    volumes:
      - db:/var/lib/postgresql/data:z
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "15432:5432"

  redis:
    image: redis:3.2.1

  static_builder:
    build:
      context: ..
      dockerfile: Dockerfile
      target: metabrainz-frontend-dev
    command: npm run build:dev
    user: ${STATIC_BUILD_USER:-node}
    volumes:
      - ../frontend:/code/frontend:z
