{% extends 'base.html' %}

{% block title %}{{ tier.name }} tier - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>{{ tier.name }} tier</h1>

  <p>{{ tier.long_desc }}</p>

  {% set organizations = tier.organizations.all() %}
  {% if organizations|length > 0 %}
    <div id="customers">
      <table class="table">

        {% for org in organizations %}
          <tr>
            <td>
              {% if org.website_url %}<a href="{{ org.website_url }}">{% endif %}
              {% if org.logo_url %}
                <img src="{{ org.logo_url }}"/>
              {% else %}
                {{ org.name }}
              {% endif %}
              {% if org.website_url %}</a>{% endif %}
            </td>
            <td>{{ org.get_description_html()|safe }}</td>
          </tr>
        {% endfor %}

      </table>
    </div>
  {% endif %}

{% endblock %}
