{% extends 'base.html' %}

{% block title %}Manually add a donation - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1>Manually add a donation</h1>

  <div class="alert alert-danger" role="alert"><b>Danger zone!</b> To enter a donation manually, fill out the fields below and press the button.</div>

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <form action="{{ url_for('admin.add_donation') }}" method="POST" class="form-horizontal" role="form">
    {{ form.csrf_token }}

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.first_name.label.text }}</label>
      <div class="col-sm-4">{{ form.first_name(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.last_name.label.text }}</label>
      <div class="col-sm-4">{{ form.last_name(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.email.label.text }}</label>
      <div class="col-sm-4">{{ form.email(class="form-control", required="required") }}</div>
    </div>

    <br />

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.address_street.label.text }}</label>
      <div class="col-sm-4">{{ form.address_street(class="form-control") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.address_city.label.text }}</label>
      <div class="col-sm-4">{{ form.address_city(class="form-control") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.address_state.label.text }}</label>
      <div class="col-sm-4">{{ form.address_state(class="form-control") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.address_postcode.label.text }}</label>
      <div class="col-sm-4">{{ form.address_postcode(class="form-control") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.address_country.label.text }}</label>
      <div class="col-sm-4">{{ form.address_country(class="form-control") }}</div>
    </div>

    <br />

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.payment_date.label.text }}</label>
      <div class="col-sm-4">{{ form.payment_date(class="form-control") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.amount.label.text }}</label>
      <div class="col-sm-4">{{ form.amount(class="form-control", required="required") }}</div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.fee.label.text }}</label>
      <div class="col-sm-4">{{ form.fee(class="form-control") }}</div>
    </div>

    <br />

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.editor.label.text }}</label>
      <div class="col-sm-4">{{ form.editor(class="form-control") }}</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">{{ form.memo.label.text }}</label>
      <div class="col-sm-4">{{ form.memo(class="form-control") }}</div>
    </div>

    <br />

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>{{ form.can_contact }} {{ form.can_contact.label.text }}</label>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>{{ form.anonymous }} {{ form.anonymous.label.text }}</label>
        </div>
      </div>
    </div>

    <br />

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" value="Add donation" />
      </div>
    </div>
  </form>
{% endblock %}
