{% extends 'admin/master.html' %}

{% block page_heading %}MetaBrainz Admin{% endblock %}
{% block page_description %}Pick an area to work in.{% endblock %}

{% block body %}
  <div class="tile-grid">
    <a href="{{ url_for('supporter_admin.index') }}" class="tile">
      <span class="tile-icon"><i class="fa fa-users"></i></span>
      <h3>Supporter management</h3>
      <p>Supporters, payments, commercial accounts, API access tokens and usage statistics.</p>
      <span class="tile-cta">Open<i class="fa fa-arrow-right"></i></span>
    </a>

    <a href="{{ url_for('user_admin.index') }}" class="tile">
      <span class="tile-icon tile-icon--success"><i class="fa fa-user"></i></span>
      <h3>User management</h3>
      <p>User accounts, email verification, moderation, OAuth applications and webhooks.</p>
      <span class="tile-cta">Open<i class="fa fa-arrow-right"></i></span>
    </a>
  </div>
{% endblock %}
