{% extends admin_base_template %}

{% block head_css %}
  {# The css file has a .less extension in the manifest file entry (due to its original name in Webpack entry) #}
  <link href="{{ get_static_path('main.less') }}" rel="stylesheet" media="screen" />
  <link href="{{ url_for('static', filename='fonts/font_awesome/less/font-awesome.css') }}" rel="stylesheet" media="screen" />
  <style>
    body {
      padding-top: 20px;
    }
  </style>
{% endblock %}

{% block brand %}
  <span class="navbar-brand">
    <a href="/">MetaBrainz</a>
    ::
    <a href="/admin/">Admin</a>
  </span>
{% endblock %}
