{% extends 'admin/master.html' %}
{% block body %}
  <h1>Users</h1>

  <h2>Commercial users</h2>
  {% if users %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Organization (MusicBrainz ID)</th>
        <th>State</th>
        <th>Contact name</th>
        <th>Contact email</th>
        <th>Standing</th>
        <th>Tier</th>
        <th>Featured</th>
        <th>{# Buttons #}</th>
      </tr>
      </thead>
      {% for user in users %}
        <tr>
          <td>
            <a href="{{ url_for('usersview.details', user_id=user.id) }}">
              <strong>{{ user.org_name }}</strong>
              ({{ user.musicbrainz_id }})
            </a>
          </td>
          <td>
            {% if user.state == 'active' %}
              <span class="label label-success">Active</span>
            {% elif user.state == 'pending' %}
              <span class="label label-warning">Pending</span>
            {% else %}
              <span class="label label-important">Rejected</span>
            {% endif %}
          </td>
          <td>{{ user.contact_name }}</td>
          <td>{{ user.contact_email }}</td>
          <td>
            {% if user.good_standing %}
              <span class="label label-success">Good standing</span>
            {% else %}
              <span class="label label-important">Bad standing</span>
            {% endif %}
          </td>
          <td>{{ user.tier }}</td>
          <td>
            {% if user.featured %}
              <span class="label label-success">Featured</span>
            {% else %}
              <span class="label label-default">Not featured</span>
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('user_model.edit_view', id=user.id) }}"
               class="btn btn-mini btn-primary" role="button">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>

    {% if count > limit %}
      <ul class="pager">
        {% if page > 1 %}
          <li class="previous"><a href="{{ url_for('commercialusersview.index', page=page-1) }}">&larr; Previous</a></li>
        {% endif %}
        {% if page-1 < count//limit %}
          <li class="next"><a href="{{ url_for('commercialusersview.index', page=page+1) }}">Next &rarr;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  {% else %}
    None!
  {% endif %}
{% endblock %}
