# -*- coding: utf-8 -*-
# CUSTOM CONFIGURATION

DEBUG = True  # set to False in production mode

SECRET_KEY = "CHANGE_THIS"


# DATABASES

# Primary database
# Example:
# SQLALCHEMY_DATABASE_URI = "postgresql://mb:mb@localhost:5432/metabrainz"
SQLALCHEMY_DATABASE_URI = "postgresql://<user>:<pass>@<host>:<port>/<db>"

# Database for testing
TEST_SQLALCHEMY_DATABASE_URI = "postgresql://metabrainz_test:metabrainz_test@localhost:5432/metabrainz_test"


# PAYMENTS

PAYMENT_PRODUCTION = False  # set to False to use testing environments for donations

# WePay
# https://www.wepay.com/developer/reference/account-id
WEPAY_ACCOUNT_ID = ""
# https://www.wepay.com/developer/reference/access-tokens
WEPAY_ACCESS_TOKEN = ""

# PayPal
PAYPAL_PRIMARY_EMAIL = "paypal@metabrainz.org"
PAYPAL_BUSINESS = "payment@metabrainz.org"

# Stripe
# https://stripe.com/docs/tutorials/dashboard#api-keys
STRIPE_KEYS = {
    "SECRET": "",
    "PUBLISHABLE": "",
}
STRIPE_TEST_KEYS = {
    "SECRET": "",
    "PUBLISHABLE": "",
}


# MUSICBRAINZ OAUTH
MUSICBRAINZ_CLIENT_ID = ""
MUSICBRAINZ_CLIENT_SECRET = ""


# REPLICATION PACKETS
REPLICATION_PACKETS_DIR = "replication_packets"
REPLICATION_PACKETS_DAILY_DIR = REPLICATION_PACKETS_DIR + "/daily"
REPLICATION_PACKETS_WEEKLY_DIR = REPLICATION_PACKETS_DIR + "/weekly"


# CACHE
#MEMCACHED_SERVERS = ["127.0.0.1:11211"]
#MEMCACHED_NAMESPACE = "MeB"


# LOGGING

#LOG_FILE_ENABLED = True
#LOG_FILE = "server.log"

#LOG_EMAIL_ENABLED = True
#LOG_EMAIL_TOPIC = "MetaBrainz Website Failure"
#LOG_EMAIL_RECIPIENTS = []  # Array with email addresses (strings)

#LOG_SENTRY_ENABLED = True
#SENTRY_DSN = ""


# OTHER STUFF

# reCAPTCHA (https://www.google.com/recaptcha/)
RECAPTCHA_PUBLIC_KEY = ""
RECAPTCHA_PRIVATE_KEY = ""

ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "admin"

# List of email addresses
ADMINS = [
    "admin@metabrainz.org",
]

#USE_COMPILED_STYLING = True

# Mail server
SMTP_SERVER = "localhost"
SMTP_PORT = 25
MAIL_FROM_DOMAIN = "metabrainz.org"
