# -*- coding: utf-8 -*-
# CUSTOM CONFIGURATION

DEBUG = True  # set to False in production mode

# Primary database
# Example: "postgresql://metabrainz:metabrainz@localhost:5432/metabrainz"
SQLALCHEMY_DATABASE_URI = "postgresql://<user>:<pass>@<host>:<port>/<db>"

# Database for testing
TEST_SQLALCHEMY_DATABASE_URI = "postgresql://metabrainz_test:metabrainz_test@localhost:5432/metabrainz_test"

# Payments
PAYMENT_PRODUCTION = False  # set to False to use testing environments for donations
STRIPE_API_KEY = ""
WEPAY_ACCESS_TOKEN = ""
WEPAY_ACCOUNT_ID = ""
PAYPAL_PRIMARY_EMAIL = "paypal@metabrainz.org"
PAYPAL_BUSINESS = "payment@metabrainz.org"

SECRET_KEY = "CHANGE_THIS"

USE_COMPILED_STYLING = not DEBUG
