{% extends 'admin/master.html' %}
{% block body %}
  <h1>Users</h1>

  <h3>Search</h3>
  <p>
    <em>Find users by organization name, MusicBrainz username, contact name or email.</em>
  </p>
  <form method="GET" class="form-horizontal" role="form">
    <input id="input-value" name="value" class="form-control"
        {{ 'value='+value if value }} style="width: 300px;" />
    <button type="submit" class="btn btn-default">Search</button>
  </form>

  {% if value %}
    <hr />
    {% if results %}
      {% if results|length > 20 %}
        <small class="text-muted"><em>Showing only first 20 results.</em></small>
      {% endif %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>MusicBrainz ID (Organization)</th>
          <th>State</th>
          <th>Contact name</th>
          <th>Contact email</th>
          <th>Commercial</th>
          <th>Standing</th>
          <th>Tier</th>
          <th>Featured</th>
          <th>{# Buttons #}</th>
        </tr>
        </thead>
        {% for user in results %}
          <tr>
            <td>
              <a href="{{ url_for('usersview.details', user_id=user.id) }}">
                <strong>{{ user.musicbrainz_id }}</strong>
                {{ '('+user.org_name+')' if user.org_name }}
              </a>
            </td>
            <td>
              {% if user.state == 'active' %}
                <span class="label label-success">Active</span>
              {% elif user.state == 'pending' %}
                <span class="label label-warning">Pending</span>
              {% else %}
                <span class="label label-important">Rejected</span>
              {% endif %}
            </td>
            <td>{{ user.contact_name }}</td>
            <td>{{ user.contact_email }}</td>
            <td>
              {% if user.is_commercial %}
                <span class="label label-success">Commercial</span>
              {% else %}
                <span class="label label-default">Non-commercial</span>
              {% endif %}
            </td>
            <td>
              {% if user.good_standing %}
                <span class="label label-success">Good standing</span>
              {% else %}
                <span class="label label-important">Bad standing</span>
              {% endif %}
            </td>
            <td>{{ user.tier }}</td>
            <td>
              {% if user.featured %}
                <span class="label label-success">Featured</span>
              {% else %}
                <span class="label label-default">Not featured</span>
              {% endif %}
            </td>
            <td>
              <a href="{{ url_for('user_model.edit_view', id=user.id) }}"
                 class="btn btn-mini btn-primary" role="button">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      Can't find any user.
    {% endif %}
  {% endif %}
{% endblock %}
