{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block page_heading %}Create {{ admin_view.name }}{% endblock %}
{% block page_description %}Add a new record.{% endblock %}

{% block page_actions %}
  <a href="{{ return_url }}" class="btn btn-secondary">
    <i class="fa fa-arrow-left"></i> Back to list
  </a>
{% endblock %}

{% block body %}
  <div class="admin-card">
    {% block create_form %}
      {{ lib.render_form(form, return_url, extra(), form_opts) }}
    {% endblock %}
  </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
