{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block page_heading %}Edit {{ admin_view.name }}{% endblock %}
{% block page_description %}Update record details.{% endblock %}

{% block page_actions %}
  <a href="{{ return_url }}" class="btn btn-secondary">
    <i class="fa fa-arrow-left"></i> Back to list
  </a>
  {%- if admin_view.can_view_details -%}
  <a class="btn btn-secondary" href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">
    <i class="fa fa-eye"></i> Details
  </a>
  {%- endif -%}
  {%- if admin_view.can_create -%}
  <a href="{{ get_url('.create_view', url=return_url) }}" class="btn btn-secondary">
    <i class="fa fa-plus"></i> Create
  </a>
  {%- endif -%}
{% endblock %}

{% block body %}
  <div class="admin-card">
    {% block edit_form %}
      {{ lib.render_form(form, return_url, extra(), form_opts) }}
    {% endblock %}
  </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
