{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  <div class="page-title">
    <i class="fa fa-edit"></i> Edit {{ admin_view.name }}
  </div>
  <p class="page-subtitle">
    Update record details
  </p>

  <div class="admin-card" style="margin-bottom: 25px;">
    <div class="btn-group" role="group">
      <a href="{{ return_url }}" class="btn btn-secondary">
        <i class="fa fa-list"></i> {{ _gettext('List') }}
      </a>
      {%- if admin_view.can_create -%}
      <a href="{{ get_url('.create_view', url=return_url) }}" class="btn btn-secondary">
        <i class="fa fa-plus"></i> {{ _gettext('Create') }}
      </a>
      {%- endif -%}
      {%- if admin_view.can_view_details -%}
      <a class="btn btn-secondary" href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">
        <i class="fa fa-eye"></i> {{ _gettext('Details') }}
      </a>
      {%- endif -%}
    </div>
  </div>

  <div class="admin-card">
    {% block edit_form %}
      {{ lib.render_form(form, return_url, extra(), form_opts) }}
    {% endblock %}
  </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}
