{% extends 'base.html' %}

{% block title %}{{ _('Cancelling recurring payments') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Cancelling recurring payments') }}</h1>

  <p>
    {{ _('In case you want to cancel recurring donation (payment) that you set up before,
    you\'ll need to go to a service which you used to pay.') }}
  </p>

  <p>
    {{ _('Here are links to more information:') }}
    <strong>
      <ul>
        <li><a href="https://www.paypal.com/selfhelp/article/FAQ2145/3">PayPal</a></li>
      </ul>
    </strong>
  </p>
{% endblock %}
