{% extends 'base.html' %}

{% block title %}{{ _('Cancelling recurring payments') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <h1 class="page-title">{{ _('Cancelling recurring payments') }}</h1>

  <p>
    {{ _('If you want to cancel a recurring donation (payment) that you have set up:') }}
  </p>
 
  <ul>
    <li>
      {{ _('For Stripe, we will cancel your donation manually. 
      Please <a href="%(contact_url)s">contact us</a>, indicating the name
      on the card used to set up the payment.',
      contact_url=url_for('index.contact')) }}
    </li>
    <li>
      {{ _('For PayPal, you will need to cancel from their site.
      See <a href="%(paypal_cancel_url)s">their documentation</a>.',
      paypal_cancel_url='https://www.paypal.com/us/cshelp/article/what-is-an-automatic-payment-and-how-do-i-update-or-cancel-one-help240') }}
    </li>
  </ul>
{% endblock %}
