{% extends 'base.html' %}

{% block title %}{{ _('Make a Payment') }} - MetaBrainz Foundation{% endblock %}

{% block content %}
  <div id="payment">
    <h1 class="page-title">{{ _('Make a Payment') }}</h1>

    <div class="alert alert-info" role="alert">
      {{ _('<b>This page is for organizations!</b> Payments made here will not show up
      in the list of donations. If you want to make a donation instead, go to
      <a href="%(donate_url)s">donation page</a>.', donate_url=url_for('payments.donate')) }}
    </div>

    <p>
      {{ _('Your payments will be used to operate projects of the MetaBrainz Foundation. This includes paying
      for ongoing expenses like hosting, hardware, maintaining a modest office, and paying a minimal
      salary for MetaBrainz employees.') }}
    </p>

    {{ _('<p>Where has your contribution gone? See our <a href="%(financial_reports_url)s">transparent finances</a>.</p>', financial_reports_url=url_for('financial_reports.index')) }}

    {% block payment_content %}
      <!-- Page content -->
    {% endblock %}

    <h2>{{ _('Other ways to pay') }}</h2>

    <h3>{{ _('Non-US Bank transfer') }}</h3>
    <p>{{ _('You can make a payment, or recurring payments, via bank transfer to the following IBAN:') }}</p>
    <p><em style="margin-left: 2em">BE96 9670 3472 0205 (BIC: TRWIBEB1XXX)</em></p>
    <p>{{ _('Please specify the invoice number(s) you are paying in the description field of the transfer.') }}</p>

    <h3>{{ _('US Check') }}</h3>
    <p>{{ _('If you would like to pay us using a check drawn on a US bank, please send them to:') }}</p>
    <p>
      MetaBrainz Foundation<br/>
      3565 South Higuera St, Suite B<br/>
      San Luis Obispo, CA 93401<br/>
      United States
    </p>
    <p>{{ _('Please make checks payable to the <strong>MetaBrainz Foundation</strong>.') }}</p>

  </div>
{% endblock %}
