{% extends 'base.html' %}
{% from 'macros.html' import oauth_scope_desc with context %}

{% block title %}{{ _('Applications') }} - MetaBrainz{% endblock %}

{% block content %}
  <h2>{{ _('Applications') }}</h2>

  <div class="clearfix">
    <h3 class="pull-left">{{ _('Your applications') }}</h3>
    <a href="{{ url_for('oauth2.create') }}" class="btn btn-success pull-right" style="margin-top:12px;">
      <span class="glyphicon glyphicon-plus-sign"></span> {{ _('Create new application') }}
    </a>
  </div>
  {% if not applications %}
    <p class="lead" style="text-align: center;">{{ _('No applications found') }}</p>
  {% else %}
    <table class="table table-hover">
      <thead>
      <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Website') }}</th>
        <th>{{ _('Client ID') }}</th>
        <th>{{ _('Client secret') }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for app in applications %}
        <tr>
          <td>{{ app.name }}</td>
          <td>{{ app.website }}</td>
          <td>{{ app.client_id }}</td>
          <td>{{ app.client_secret }}</td>
          <td>
            <a class="btn btn-primary btn-xs" href="{{ url_for('oauth2.edit', client_id=app.client_id) }}">{{ _('Modify') }}</a>
            <a class="btn btn-danger btn-xs" href="{{ url_for('oauth2.delete', client_id=app.client_id) }}">{{ _('Delete') }}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <hr />

  <h3>{{ _('Authorized applications') }}</h3>
  {% if not tokens %}
    <p class="lead" style="text-align: center;">{{ _('No authorized applications found') }}</p>
  {% else %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Website') }}</th>
          <th>{{ _('Access') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for token in tokens %}
          <tr>
            <td><b>{{ token.client.name }}</b></td>
            <td>{{ token.client.website }}</td>
            <td>
              {% if token.scopes %}
                {{ oauth_scope_desc(token.scopes) }}
              {% else %}
                {{ _('No special requirements') }}
              {% endif %}
            </td>
            <td>
              <form action="{{ url_for('oauth2.revoke', client_id=token.client_id) }}" method="post" class="btn btn-danger btn-xs" >
                <button type="submit" name="your_name" value="your_value" class="btn-link">{{ _('Revoke access') }}</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
