{% extends 'base.html' %}
{% from 'macros.html' import oauth_scope_desc with context %}

{% block title %}{{ _('OAuth Authorization') }} - MetaBrainz{% endblock %}

{% block content %}
  <div id="oauth-prompt">
    <h1 class="page-title">{{ client.client_name }}</h1>

    <p style="font-size:1.1em;">{{ _('This app requested permission to access:') }}</p>

    <div class="permissions">

      <div class="permission">
        <div class="icon">
          <img src="{{ url_for('static', filename='img/oauth/identity.svg') }}"/>
        </div>
        <div class="description">
          {{ _('Your identity on MetaBrainz') }}
        </div>
      </div>

      <div class="permission">
        {{ oauth_scope_desc(scope) }}
      </div>

    </div>

    <form action="{{ request.url }}" method="post">
      {{ form.hidden_tag() }}
      <button type="submit" name="confirm" value="yes" class="btn btn-primary">{{ _('Allow access') }}</button>
      <a href="{{ cancel_url }}" class="btn btn-default">{{ _('Cancel') }}</a>
    </form>
  </div>
{% endblock %}
